@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/26328E_13_0.eot');
  src: url('../fonts/26328E_13_0.eot?#iefix') format('embedded-opentype'), url('../fonts/26328E_13_0.woff') format('woff'), url('../fonts/26328E_13_0.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/26328E_11_0.eot');
  src: url('../fonts/26328E_11_0.eot?#iefix') format('embedded-opentype'), url('../fonts/26328E_11_0.woff') format('woff'), url('../fonts/26328E_11_0.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/26328E_14_0.eot');
  src: url('../fonts/26328E_14_0.eot?#iefix') format('embedded-opentype'), url('../fonts/26328E_14_0.woff') format('woff'), url('../fonts/26328E_14_0.ttf') format('truetype');
  font-weight: bold;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}
html,
button,
input,
select,
textarea {
  font-family: 'Arial', sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol,
ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
html.disabled {
  overflow-x: hidden;
  overflow-y: hidden;
}
a {
  text-decoration: none;
}
#beta {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
.overlay {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.background {
  z-index: -1;
}
.background > .image {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .background > .image {
    left: 50%;
    margin-left: -512px;
  }
}
.header {
  height: 35px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header > .logo {
  width: 103px;
  height: 26px;
  float: left;
  margin: 5px 12px;
}
.header > .copyright {
  cursor: default;
  font-family: 'ProximaNova';
  float: right;
  margin: 8px 12px;
}
.mapTool {
  position: fixed;
  left: 0;
  top: 35px;
  bottom: 35px;
  z-index: 2;
  transition: transform 200ms ease;
  -ms-transition: -ms-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -webkit-transition: -webkit-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
}
.mapTool > .map {
  width: 100%;
  height: 100%;
}
.mapTool > .close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  height: 60px;
  width: 60px;
  background: #343434;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.mapTool > .close > .cross {
  background: url('../img/atlasGeneral.png') no-repeat -129px -441px;
  width: 39px;
  height: 39px;
  display: block;
  margin: 0px auto;
  margin-top: 11px;
}
.tooltip {
  cursor: default;
}
.tooltip > img {
  width: 220px;
  height: 164px;
  display: block;
  background: #494949;
}
.tooltip > .placeholder {
  width: 220px;
  height: 164px;
  background: #494949;
}
.tooltip.hover {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
  background: #FFF;
}
.tooltip.hover .edge {
  width: 220px;
  height: 32px;
  background: #263c80;
}
.tooltip.hover .edge > span {
  float: left;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  margin-left: 7px;
  padding: 5px;
}
.tooltip.hover.small {
  height: 42px;
}
.tooltip.hover.small .edge {
  height: 2px;
}
.tooltip.hover .title {
  padding: 5px 10px;
  width: 195px;
  height: 30px;
  font-size: 23px;
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
.tooltip.hover .arrow {
  background: url('../img/atlasGeneral.png') no-repeat -343px -152px;
  width: 27px;
  height: 33px;
  position: absolute;
  right: -25px;
  top: -1px;
}
.tooltip.click > div.inner {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
}
.tooltip.click > div.inner > img {
  width: 220px;
  height: 164px;
  display: block;
}
.tooltip.click > div.inner > .placeholder {
  width: 220px;
  height: 164px;
  background: #494949;
}
.tooltip.click > div.inner > .close {
  background: url('../img/mapClose.png') no-repeat 0 0;
  width: 35px;
  height: 35px;
  position: absolute;
  right: -14px;
  top: -18px;
  cursor: pointer;
}
.tooltip.click > div.inner > .close:hover {
  background: url('../img/mapClose.png') no-repeat -36px 0;
}
.tooltip.click > div.inner > .arrow {
  background: url('../img/atlasGeneral.png') no-repeat -343px -152px;
  width: 27px;
  height: 33px;
  position: absolute;
  right: -25px;
  top: 165px;
}
.tooltip.click > div.inner > .edge {
  float: left;
  width: 5px;
  background: #FF0000;
  height: 100%;
}
.tooltip.click > div.inner > .border {
  height: 2px;
  width: 100%;
}
.tooltip.click > div.inner > .title {
  padding: 8px 8px 4px 8px;
  font-size: 23px;
  background: #fff;
  font-weight: 100;
  line-height: 26px;
}
.tooltip.click > div.inner > .desc {
  padding: 0px 10px 12px 10px;
  font-size: 14px;
  margin: 0px;
  background: #fff;
  line-height: 18px;
}
.tooltip.click > div.inner > .desc > p {
  margin: 0px;
}
.wrapper {
  width: 960px;
  margin: 0px auto;
  position: relative;
  top: 100px;
}
.wrapper.home > .content {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
.wrapper > .sidebar {
  position: fixed;
  top: 50%;
  top: 40%\9;
  *top: 50%;
  *left: 0;
  margin-top: -208px;
  width: 257px;
  margin-left: 7px;
  font-family: 'ProximaNova';
}
.wrapper > .sidebar > .right {
  position: absolute;
  display: none;
}
.wrapper > .sidebar > .right.open {
  left: 260px;
  display: block;
}
.wrapper > .sidebar > .right > .edge {
  background: url('../img/map.png') no-repeat;
}
.wrapper > .sidebar > .right > .edge.top {
  top: 0;
  left: 0;
  background-position: -4px -46px;
  width: 257px;
  height: 32px;
}
.wrapper > .sidebar > .right > .edge.bottom {
  bottom: 0;
  left: 0;
  background-position: -4px -83px;
  width: 257px;
  height: 35px;
}
.wrapper > .sidebar > .right > .edge.bottom > .world {
  background: url('../img/map.png') no-repeat;
  background-position: -156px -2px;
  width: 22px;
  height: 21px;
  float: right;
  margin-right: 24px;
}
.wrapper > .sidebar > .right > .middle {
  background: url('../img/middle.png');
  width: 257px;
}
.wrapper > .sidebar > .right > .middle > .top {
  margin: 0 28px 0 18px;
  padding-bottom: 8px;
  border-bottom: 2px solid #808080;
}
.wrapper > .sidebar > .right > .middle > .top > h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 100;
  line-height: 20px;
  cursor: default;
}
.wrapper > .sidebar > .right > .middle > .top > h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  color: #808080;
}
.wrapper > .sidebar > .right > .middle > .bottom {
  overflow: hidden;
  cursor: default;
}
.wrapper > .sidebar > .right > .middle > .bottom > .left {
  float: left;
  background: url('../img/map.png') no-repeat;
  background-position: -13px -168px;
  width: 84px;
  height: 86px;
  margin-left: 18px;
  margin-top: 12px;
  margin-right: 12px;
}
.wrapper > .sidebar > .right > .middle > .bottom > .right {
  float: left;
  width: 115px;
}
.wrapper > .sidebar > .right > .middle > .bottom > .right > p {
  line-height: 18px;
  font-size: 16px;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 17px 0px;
  color: #4D4D4D;
}
.wrapper > .sidebar > .right > .middle > .bottom > .right > h3 {
  line-height: 18px;
  font-size: 13px;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 12px 0px;
  color: #808080;
  font-weight: normal;
}
.wrapper > .sidebar > .right > .middle > .bottom > .right > .language {
  width: 93px;
  font-size: 14px;
  margin-top: 22px;
}
.wrapper > .sidebar > .right > .middle > .bottom .select {
  float: left;
  margin-left: 18px;
  width: 211px;
}
.wrapper > .sidebar > .right > .middle > .bottom .select > p {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: #999999;
  margin: 12px 0px 4px 0px;
}
.wrapper > .sidebar > .right > .middle > .bottom .select > .language {
  width: 100%;
}
.wrapper > .sidebar > .left {
  position: absolute;
  left: 0;
}
.wrapper > .sidebar > .left > .edge {
  background: url('../img/map.png') no-repeat;
}
.wrapper > .sidebar > .left > .edge.top {
  top: 0;
  left: 0;
  background-position: -4px -46px;
  width: 257px;
  height: 32px;
}
.wrapper > .sidebar > .left > .edge.bottom {
  bottom: 0;
  left: 0;
  background-position: -4px -83px;
  width: 257px;
  height: 35px;
}
.wrapper > .sidebar > .left > .edge.bottom > .world {
  cursor: pointer;
  background: url('../img/map.png') no-repeat;
  background-position: -156px -2px;
  width: 22px;
  height: 21px;
  float: right;
  margin-right: 24px;
}
.wrapper > .sidebar > .left > .edge.bottom > .world:hover {
  background-position: -156px -25px;
}
.wrapper > .sidebar > .left > .edge.bottom > .world.active {
  background-position: -156px -25px;
}
.wrapper > .sidebar > .left > .britAgent {
  display: block;
  width: 96px;
  height: 39px;
  background: url('../img/map.png') no-repeat;
  background-position: -129px -135px;
  margin-left: 23px;
  margin-top: -2px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: 14px;
  line-height: 26px;
}
.wrapper > .sidebar > .left > .middle {
  background: url('../img/middle.png');
  width: 257px;
}
.wrapper > .sidebar > .left > .middle > .content {
  margin-left: 3px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner {
  width: 246px;
  font-weight: normal;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .title {
  height: 39px;
  margin-left: -8px;
  cursor: default;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .title > .right {
  float: left;
  width: 19px;
  height: 40px;
  background: url('../img/map.png') no-repeat;
  background-position: -181px -2px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .title > a > h1 {
  float: left;
  margin: 0;
  padding: 3px;
  padding-left: 12px;
  padding-right: 8px;
  font-size: 23px;
  color: #fff;
  background: #263c80;
  height: 34px;
  line-height: 35px;
  font-weight: 100;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .title > a > span {
  background: #263c80;
  float: left;
  height: 40px;
  width: 205px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .title > a > img {
  position: absolute;
  top: 44px;
  left: 8px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul {
  padding: 16px 0px 1px 0px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li {
  margin-bottom: 8px;
  padding-bottom: 20px;
  *margin-bottom: 0px;
  *padding-bottom: 0px;
  transition: padding 300ms;
  -ms-transition: padding 300ms;
  -moz-transition: padding 300ms;
  -webkit-transition: padding 300ms;
  -o-transition: padding 300ms;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .title {
  position: relative;
  cursor: pointer;
  background: url('../img/underline.png') no-repeat left bottom;
  padding: 0 16px;
  font-size: 14px;
  color: #4D4D4D;
  text-decoration: none;
  display: block;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .title > .heading {
  margin-left: 40px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .title > .icon {
  position: absolute;
  width: 37px;
  height: 37px;
  margin-right: 4px;
  *left: 16px;
  *top: 16px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .subnav {
  height: 0;
  overflow: hidden;
  transition: height 300ms;
  -ms-transition: height 300ms;
  -moz-transition: height 300ms;
  -webkit-transition: height 300ms;
  -o-transition: height 300ms;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .subnav > ul {
  margin-right: 3px;
  padding: 8px;
  background: url('../img/subnav.jpg');
  -moz-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
  -webkit-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
  -ms-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
  -o-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
  box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .subnav > ul > li {
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin: 2px 0px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .subnav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 100;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .subnav > ul > li > a:hover {
  text-decoration: underline;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li > .subnav > ul > li > a.active {
  text-decoration: underline;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li.open {
  padding-bottom: 0px;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li.open > .title {
  background: none;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li.open > .subnav {
  visibility: visible;
  height: auto;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li.inital {
  transition: padding 0ms;
  -ms-transition: padding 0ms;
  -moz-transition: padding 0ms;
  -webkit-transition: padding 0ms;
  -o-transition: padding 0ms;
}
.wrapper > .sidebar > .left > .middle > .content > .inner > .nav > ul > li.inital > .subnav {
  transition: height 0ms;
  -ms-transition: height 0ms;
  -moz-transition: height 0ms;
  -webkit-transition: height 0ms;
  -o-transition: height 0ms;
}
.wrapper > .content {
  position: relative;
  left: 270px;
  width: 680px;
  margin-bottom: 200px;
  -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}
.wrapper > .content.noShadow {
  box-shadow: none;
}
.wrapper > .content.newsletter {
  background: #fff;
  padding-bottom: 0;
  float: left;
}
.wrapper > .content.newsletter > .inner {
  padding: 18px 24px;
  font-family: 'ProximaNova';
  cursor: default;
}
.wrapper > .content.newsletter > .inner > .top {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px;
  margin-bottom: 16px;
  overflow: hidden;
}
.wrapper > .content.newsletter > .inner > .top > h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 30px;
}
.wrapper > .content.newsletter > .inner > .top > h2 {
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  margin: 0;
  margin-bottom: 8px;
}
.wrapper > .content.newsletter > .inner > .top .rightTitle {
  float: right;
  font-size: 12px;
  color: #333333;
}
.wrapper > .content.newsletter > .inner > .strap {
  font-size: 12px;
  width: 260px;
}
.wrapper > .content.newsletter > .inner .list {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 4px;
}
.wrapper > .content.newsletter > .inner .list > .collumn {
  float: left;
  margin-right: 64px;
  width: 165px;
}
.wrapper > .content.newsletter > .inner .list > .collumn > .item {
  font-size: 12px;
  word-wrap: break-word;
  margin-bottom: 12px;
  position: relative;
}
.wrapper > .content.newsletter > .inner .list > .collumn > .item > input {
  width: 100%;
  border: none;
  background: #e6e6e6;
  padding: 2px 4px;
}
.wrapper > .content.newsletter > .inner .list > .collumn > .item > .cross {
  display: none;
  background: url('../img/map.png') no-repeat;
  background-position: -280px -95px;
  width: 6px;
  height: 5px;
  position: absolute;
  right: 0px;
  bottom: 6px;
}
.wrapper > .content.newsletter > .inner .list > .collumn > .item.error > input {
  background: #f48484;
}
.wrapper > .content.newsletter > .inner .list > .collumn > .item.error > .cross {
  display: block;
}
.wrapper > .content.newsletter > .inner .list > .collumn.last {
  margin-right: 0;
}
.wrapper > .content.newsletter > .inner .emailSubmit {
  overflow: hidden;
  margin: 16px 0px 0 0;
}
.wrapper > .content.newsletter > .inner .emailSubmit > p {
  float: right;
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 22px;
  height: 22px;
}
.wrapper > .content.newsletter > .inner .emailSubmit > a {
  float: right;
  background: #2851a3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2851a3), color-stop(1, #263a7c));
  background: -ms-linear-gradient(bottom, #2851a3, #263a7c);
  background: -moz-linear-gradient(center bottom, #2851a3 0%, #263a7c 100%);
  margin-left: 8px;
  display: block;
  height: 19px;
  color: #fff;
  padding: 1px 7px;
}
.wrapper > .content.newsletter > .inner .emailSubmit input {
  float: right;
  background: #2851a3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2851a3), color-stop(1, #263a7c));
  background: -ms-linear-gradient(bottom, #2851a3, #263a7c);
  background: -moz-linear-gradient(center bottom, #2851a3 0%, #263a7c 100%);
  margin-left: 8px;
  display: block;
  height: 21px;
  color: #fff;
  padding: 1px 7px;
  border: 0;
}
.wrapper > .content.standard {
  background: #fff;
  padding-bottom: 0;
  float: left;
}
.wrapper > .content.standard > .inner {
  padding: 18px 24px;
  padding: 18px 18px 6px 18px;
  font-family: 'ProximaNova';
}
.wrapper > .content.standard > .inner > .top {
  cursor: default;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}
.wrapper > .content.standard > .inner > .top > h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 30px;
}
.wrapper > .content.standard > .inner > .top > h2 {
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  margin: 0;
  margin-bottom: 8px;
}
.wrapper > .content.standard > .inner > .top .rightTitle {
  float: right;
  font-size: 12px;
  color: #333333;
}
.wrapper > .content.standard > .inner > .wysiwyg > p {
  font-weight: 100;
  font-size: 12px;
  color: #606060;
}
.wrapper > .content.standard > .inner > .wysiwyg > ul {
  list-style: none;
}
.wrapper > .content.standard > .inner > .wysiwyg > ul > li {
  font-size: 12px;
  color: #4d4d4d;
}
.wrapper > .content.standard > .inner > .list > .item {
  overflow: hidden;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.wrapper > .content.standard > .inner > .list > .item.last {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.wrapper > .content.standard > .inner > .list > .item > p {
  font-size: 12px;
  cursor: default;
}
.wrapper > .content.standard > .inner > .list > .item > p.offset {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  text-align: right;
  margin-top: 22px;
}
.wrapper > .content.standard > .inner > .list > .item > p > a {
  text-decoration: underline;
  color: #000;
}
.wrapper > .content.standard > .inner > .list > .item > .left {
  float: left;
  width: 212px;
}
.wrapper > .content.standard > .inner > .list > .item > .left .logo {
  max-width: 184px;
}
.wrapper > .content.standard > .inner > .list > .item > .left > ul {
  list-style: none;
}
.wrapper > .content.standard > .inner > .list > .item > .left > ul > li {
  font-size: 12px;
  color: #4d4d4d;
}
.wrapper > .content.standard > .inner > .list > .item > .left.address > ul {
  list-style: none;
}
.wrapper > .content.standard > .inner > .list > .item > .left.address > ul > li {
  font-size: 12px;
  color: #4d4d4d;
}
.wrapper > .content.standard > .inner > .list > .item > .right {
  cursor: default;
  float: left;
  width: 432px;
  position: relative;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .title {
  font-size: 22px;
  color: #4D4D4D;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .link {
  float: right;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .link > a {
  font-size: 12px;
  color: #333333;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .link > a:hover {
  text-decoration: underline;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .strap {
  font-weight: 100;
  color: #808080;
  font-size: 14px;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .download {
  float: right;
  margin-bottom: 8px;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .download > .text {
  line-height: 47px;
  height: 36px;
  cursor: default;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .top > .download > .text > a {
  background: url('../img/map.png') no-repeat;
  background-position: -203px -280px;
  margin-left: 8px;
  display: block;
  width: 44px;
  height: 41px;
  float: right;
}
.wrapper > .content.standard > .inner > .list > .item > .right > p {
  font-weight: 100;
  font-size: 12px;
  padding-top: 4px;
  margin: 4px 0;
  color: #606060;
  font-family: arial;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .link {
  float: right;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .link > a {
  font-size: 12px;
  color: #333333;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .link > a:hover {
  text-decoration: underline;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .strap {
  font-weight: 100;
  color: #808080;
  font-size: 14px;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .person {
  list-style: none;
  position: relative;
  bottom: 0;
  right: 0;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .person.offset {
  position: absolute;
  right: 106px;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .person > li {
  font-size: 12px;
  color: #4d4d4d;
  text-align: right;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .person > li > a {
  text-decoration: underline;
  color: #000;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .personImage {
  float: right;
  margin-left: 8px;
}
.wrapper > .content.standard > .inner > .list > .item > .right > .personImage > img {
  max-width: 90px;
}
.wrapper > .content.britAgent {
  background: #fff;
  padding-bottom: 0;
  float: left;
}
.wrapper > .content.britAgent > .inner {
  padding: 18px 24px;
  font-family: 'ProximaNova';
}
.wrapper > .content.britAgent > .inner > .top {
  cursor: default;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.wrapper > .content.britAgent > .inner > .top > h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 30px;
}
.wrapper > .content.britAgent > .inner > .top > h2 {
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  margin: 0;
}
.wrapper > .content.britAgent > .inner > .list > .item {
  overflow: hidden;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.wrapper > .content.britAgent > .inner > .list > .item > .left {
  float: left;
  width: 200px;
}
.wrapper > .content.britAgent > .inner > .list > .item > .left > .logo {
  max-width: 184px;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right {
  cursor: default;
  float: left;
  width: 432px;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .top {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .top > .title {
  font-size: 22px;
  color: #4D4D4D;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .top > .strap {
  font-weight: 100;
  color: #808080;
  font-size: 14px;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .top > .link {
  float: right;
  margin-top: 48px;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .top > .link > a {
  font-size: 12px;
  color: #333333;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .top > .link > a:hover {
  text-decoration: underline;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > p {
  font-weight: 100;
  font-size: 12px;
  padding-top: 0px;
  margin: 24px 0 0 0;
  color: #606060;
  font-family: arial;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .download {
  float: right;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .download > .text {
  line-height: 47px;
  height: 36px;
  cursor: default;
}
.wrapper > .content.britAgent > .inner > .list > .item > .right > .download > .text > a {
  background: url('../img/map.png') no-repeat;
  background-position: -203px -280px;
  margin-left: 8px;
  display: block;
  width: 44px;
  height: 41px;
  float: right;
}
.wrapper > .content.images {
  background: #fff;
  padding-bottom: 0;
  margin-bottom: 35px;
  float: left;
}
.wrapper > .content.images > .inner {
  padding: 18px 18px;
  font-family: 'ProximaNova';
}
.wrapper > .content.images > .inner > .top {
  cursor: default;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.wrapper > .content.images > .inner > .top > h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 30px;
}
.wrapper > .content.images > .inner > .top > h2 {
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  margin: 0;
}
.wrapper > .content.images > .inner > .list > .item {
  overflow: hidden;
}
.wrapper > .content.images > .inner > .list > .item > .left {
  float: left;
  width: 200px;
}
.wrapper > .content.images > .inner > .list > .item > .left > .logo {
  max-width: 184px;
}
.wrapper > .content.images > .inner > .list > .item > .right {
  cursor: default;
  float: left;
  width: 444px;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .title {
  font-size: 22px;
  color: #4D4D4D;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .strap {
  font-weight: 100;
  color: #808080;
  font-size: 14px;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .link {
  float: right;
  margin-top: 35px;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .link > a {
  font-size: 12px;
  color: #333333;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .link > a:hover {
  text-decoration: underline;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .download {
  float: right;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .download > .text {
  line-height: 47px;
  height: 36px;
  cursor: default;
}
.wrapper > .content.images > .inner > .list > .item > .right > .top > .download > .text > a {
  background: url('../img/map.png') no-repeat;
  background-position: -203px -280px;
  margin-left: 8px;
  display: block;
  width: 44px;
  height: 41px;
  float: right;
}
.wrapper > .content.images > .inner > .list > .item > .right > p {
  font-weight: 100;
  font-size: 12px;
  padding: 12px 0 0 0;
  margin: 0 0 0 0;
  color: #606060;
  font-family: arial;
}
.wrapper > .content.images > .inner > .list > .item > .right > p.offset {
  border-top: 1px solid #ccc;
  text-align: right;
  margin: 0;
  margin-top: 12px;
  padding-bottom: 0;
  padding-top: 12px;
}
.wrapper > .content.images > .bottom {
  min-height: 35px;
}
.wrapper > .content.images > .bottom > .title {
  font-size: 16px;
  font-weight: 100;
  color: #f2f2f2;
}
.wrapper > .content.images > .bottom > .title a {
  color: #f2f2f2;
  text-decoration: underline;
}
.wrapper > .content.video {
  background: #fff;
  padding-bottom: 0;
  float: left;
}
.wrapper > .content.video > .inner {
  padding: 18px 18px;
  font-family: 'ProximaNova';
}
.wrapper > .content.video > .inner > .top {
  cursor: default;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.wrapper > .content.video > .inner > .top > h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 30px;
}
.wrapper > .content.video > .inner > .top > h2 {
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  margin: 0;
}
.wrapper > .content.video > .inner > .list > .item {
  overflow: hidden;
}
.wrapper > .content.video > .inner > .list > .item > .left {
  float: left;
  width: 200px;
}
.wrapper > .content.video > .inner > .list > .item > .left > .logo {
  max-width: 184px;
}
.wrapper > .content.video > .inner > .list > .item > .right {
  cursor: default;
  float: left;
  width: 100%;
}
.wrapper > .content.video > .inner > .list > .item > .right.image {
  width: 444px;
}
.wrapper > .content.video > .inner > .list > .item > .right.image > p.offset {
  margin-top: 12px;
  border-top: 1px solid #ccc;
}
.wrapper > .content.video > .inner > .list > .item > .right > .top {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.wrapper > .content.video > .inner > .list > .item > .right > .top > .title {
  font-size: 22px;
  color: #4D4D4D;
}
.wrapper > .content.video > .inner > .list > .item > .right > .top > .strap {
  font-weight: 100;
  color: #808080;
  font-size: 14px;
}
.wrapper > .content.video > .inner > .list > .item > .right > .top > .link {
  float: right;
  margin-top: 35px;
}
.wrapper > .content.video > .inner > .list > .item > .right > .top > .link > a {
  font-size: 12px;
  color: #333333;
}
.wrapper > .content.video > .inner > .list > .item > .right > .top > .link > a:hover {
  text-decoration: underline;
}
.wrapper > .content.video > .inner > .list > .item > .right > p {
  font-weight: 100;
  font-size: 12px;
  padding: 12px 0 0 0;
  margin: 0;
  color: #606060;
  font-family: arial;
}
.wrapper > .content.video > .inner > .list > .item > .right > p.offset {
  text-align: right;
  margin-top: 12px;
  border: none;
  margin: 0;
  padding-bottom: 0;
}
.wrapper > .content.video > .bottom > .slider {
  position: relative;
  width: 100%;
  float: left;
}
.wrapper > .content.video > .bottom > .slider > .container {
  width: 100%;
  position: relative;
}
.wrapper > .content.video > .bottom > .slider > .container > .inner {
  position: relative;
  overflow: hidden;
  width: 3680px;
}
.wrapper > .content.video > .bottom > .slider > .container > .inner > .scroll {
  margin: 0px;
  padding: 0px;
  list-style: none;
  white-space: nowrap;
  page-break-after: avoid;
  page-break-before: avoid;
  page-break-inside: avoid;
  position: relative;
  padding: 16px;
}
.wrapper > .content.video > .bottom > .slider > .container > .inner > .scroll > .item {
  cursor: pointer;
  position: relative;
  float: left;
  height: 120px;
  width: 160px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.wrapper > .content.video > .bottom > .slider > .container > .inner > .scroll > .item > img {
  max-width: 160px;
}
.wrapper > .content.video > .bottom > .slider > .container > .inner > .scroll > .item > span {
  background: url('../img/map.png') no-repeat;
  background-position: -361px -8px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 62px;
  top: 42px;
}
.wrapper > .content.calendar {
  background: #fff;
  padding-bottom: 0;
  float: left;
}
.wrapper > .content.calendar > .inner {
  padding: 18px 24px;
  padding: 18px 24px 0px 16px;
  font-family: 'ProximaNova';
}
.wrapper > .content.calendar > .inner > .top {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}
.wrapper > .content.calendar > .inner > .top > .title {
  width: 360px;
  float: left;
  cursor: default;
}
.wrapper > .content.calendar > .inner > .top > .title > h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 30px;
}
.wrapper > .content.calendar > .inner > .top > .title > h2 {
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  margin: 0;
}
.wrapper > .content.calendar > .inner > .top > .downloads {
  float: right;
}
.wrapper > .content.calendar > .inner > .top > .downloads > .title {
  font-size: 17px;
  color: #333333;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  cursor: default;
}
.wrapper > .content.calendar > .inner > .top > .downloads > .list > li {
  float: left;
}
.wrapper > .content.calendar > .inner > .top > .downloads > .list > li.first {
  margin-right: 16px;
}
.wrapper > .content.calendar > .inner > .top > .downloads > .list > li > a {
  display: block;
  float: left;
}
.wrapper > .content.calendar > .inner > .top > .downloads > .list > li > a > .icon {
  background: url('../img/map.png') no-repeat;
  background-position: -210px -236px;
  margin-left: 8px;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
}
.wrapper > .content.calendar > .inner > .top > .downloads > .list > li > a > .text {
  color: #666666;
  font-size: 15px;
  display: block;
  float: left;
  line-height: 33px;
  height: 33px;
}
.wrapper > .content.calendar > .inner > .list > .item {
  overflow: hidden;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.wrapper > .content.calendar > .inner > .list > .item > .image {
  float: left;
  width: 234px;
}
.wrapper > .content.calendar > .inner > .list > .item > .image.right {
  float: right;
}
.wrapper > .content.calendar > .inner > .list > .item > .image > .img {
  max-width: 234px;
}
.wrapper > .content.calendar > .inner > .list > .item > .copy {
  float: left;
  width: 360px;
  margin-left: 16px;
  cursor: default;
}
.wrapper > .content.calendar > .inner > .list > .item > .copy.left {
  text-align: right;
}
.wrapper > .content.calendar > .inner > .list > .item > .copy > .title {
  font-size: 21px;
  color: #4D4D4D;
  line-height: 21px;
}
.wrapper > .content.calendar > .inner > .list > .item > .copy > .strap {
  font-weight: 100;
  color: #808080;
  font-size: 14px;
}
.wrapper > .content.calendar > .inner > .list > .item > .copy > .strap > a {
  color: #808080;
}
.wrapper > .content.calendar > .inner > .list > .item > .copy > .strap > a:hover {
  text-decoration: underline;
}
.wrapper > .content.calendar > .inner > .list > .item > .copy > p {
  font-weight: 100;
  font-size: 12px;
  padding-top: 4px;
  margin: 0;
  color: #606060;
  font-family: arial;
}
.wrapper > .content > .bottom {
  position: relative;
  background: #5D5D5D;
  overflow: hidden;
  font-family: 'ProximaNova';
  min-height: 113px;
  -moz-box-shadow: inset 1px 7px 13px -7px #000000;
  -webkit-box-shadow: inset 1px 7px 13px -7px #000000;
  -ms-box-shadow: inset 1px 7px 13px -7px #000000;
  -o-box-shadow: inset 1px 7px 13px -7px #000000;
  box-shadow: inset 1px 7px 13px -7px #000000;
}
.wrapper > .content > .bottom > .title {
  cursor: default;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  margin: 8px 0px 0px 24px;
}
.wrapper > .content > .bottom > p {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0 0 4px 24px;
  max-width: 430px;
  cursor: default;
}
.wrapper > .content > .bottom > ul {
  list-style-type: circle;
  color: #fff;
  padding: 0px;
  float: left;
  margin: 0px 0px 14px 47px;
}
.wrapper > .content > .bottom > ul > li {
  color: #fff;
  font-size: 14px;
  cursor: default;
  font-weight: 100;
}
.wrapper > .content > .bottom > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
}
.wrapper > .content > .bottom > ul > li > a:hover {
  text-decoration: underline;
}
.wrapper > .content > .bottom > .calendar {
  overflow: hidden;
  margin: 8px 24px;
  width: 430px;
}
.wrapper > .content > .bottom > .calendar > .collumn {
  float: left;
  width: 107px;
}
.wrapper > .content > .bottom > .calendar > .collumn > .item {
  font-size: 12px;
  word-wrap: break-word;
  line-height: 22px;
  height: 22px;
  color: #fff;
}
.wrapper > .content > .bottom > .calendar > .collumn > .item > a > .arrow {
  background: url('../img/map.png') no-repeat;
  background-position: -227px -32px;
  width: 7px;
  height: 4px;
  display: block;
  float: left;
  margin: 8px 4px 0px 0px;
}
.wrapper > .content > .bottom > .calendar > .collumn > .item > a > .text {
  font-size: 12px;
  word-wrap: break-word;
  line-height: 22px;
  height: 22px;
  color: #fff;
  display: block;
}
.wrapper > .content > .bottom > .calendar > .collumn > .item > a:hover > .text {
  text-decoration: underline;
}
.wrapper > .content > .bottom > .social {
  position: absolute;
  right: 172px;
  bottom: 12px;
  top: 12px;
  padding: 0 16px 0 16px;
  margin: 0px;
  background: #5D5D5D;
  border-left: 1px solid #ccc;
}
.wrapper > .content > .bottom > .social > .inner {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 172px;
}
.wrapper > .content > .bottom > .social > .inner > .icons {
  margin: 0;
  padding: 0;
}
.wrapper > .content > .bottom > .social > .inner > .icons > li {
  float: left;
}
.wrapper > .content > .bottom > .social > .inner > .icons > li > a {
  background: url('../img/map.png') no-repeat;
  width: 35px;
  height: 34px;
  display: block;
  margin: 4px;
}
.wrapper > .content > .bottom > .social > .inner > .icons > li > a.paperclip {
  background-position: -9px -286px;
}
.wrapper > .content > .bottom > .social > .inner > .icons > li > a.linkedin {
  background-position: -56px -286px;
}
.wrapper > .content > .bottom > .social > .inner > .icons > li > a.facebook {
  background-position: -104px -286px;
}
.wrapper > .content > .bottom > .social > .inner > .icons > li > a.twitter {
  background-position: -152px -287px;
}
.wrapper > .content > .bottom.register > p {
  max-width: 400px;
}
.wrapper > .content > .bottom.register > .button {
  max-width: 400px;
  height: 40px;
  margin: 0 0 4px 24px;
}
.wrapper > .content > .bottom.register > .button > .register {
  background: #2851a3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2851a3), color-stop(1, #263a7c));
  background: -ms-linear-gradient(bottom, #2851a3, #263a7c);
  background: -moz-linear-gradient(center bottom, #2851a3 0%, #263a7c 100%);
  height: 20px;
  color: #fff;
  padding: 1px 7px;
  float: right;
}
.wrapper > .content > .bottom.register > .login {
  position: absolute;
  right: 210px;
  bottom: 12px;
  top: 12px;
  padding: 0 16px 0 16px;
  margin: 0px;
  background: #5D5D5D;
  border-left: 1px solid #ccc;
}
.wrapper > .content > .bottom.register > .login > .inner {
  overflow: hidden;
  position: absolute;
  width: 200px;
}
.wrapper > .content > .bottom.register > .login > .inner > .top > .title {
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}
.wrapper > .content > .bottom.register > .login > .inner > .bottom > .password,
.wrapper > .content > .bottom.register > .login > .inner > .bottom .username {
  float: left;
  width: 78px;
  *width: 73px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 4px 9px;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #4d4d4d;
  font-size: 12px;
}
.wrapper > .content > .bottom.register > .login > .inner > .bottom > .password.error,
.wrapper > .content > .bottom.register > .login > .inner > .bottom .username.error {
  background: #f48484;
}
.wrapper > .content > .bottom.register > .login > .inner > .bottom > .password {
  margin-right: 0;
}
.wrapper > .content > .bottom.register > .login > .inner > .bottom > .button {
  margin: 8px 0 0 0;
  float: right;
}
.wrapper > .content > .bottom.register > .login > .inner > .bottom > .button > .login {
  border: none;
  background: #2851a3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2851a3), color-stop(1, #263a7c));
  background: -ms-linear-gradient(bottom, #2851a3, #263a7c);
  background: -moz-linear-gradient(center bottom, #2851a3 0%, #263a7c 100%);
  height: 20px;
  color: #fff;
  padding: 1px 7px;
  float: right;
}
.wrapper > .content > .itinerary {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  margin-bottom: 16px;
  -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}
.wrapper > .content > .itinerary > .image {
  float: left;
}
.wrapper > .content > .itinerary > .content {
  float: left;
  width: 326px;
  height: 112px;
}
.wrapper > .content > .itinerary > .content > .bg {
  background: url('../img/map.png') no-repeat right bottom;
  background-position: -14px -343px;
  width: 246px;
  height: 226px;
  position: absolute;
  right: 34px;
  top: -1px;
  z-index: 0;
  display: none;
}
.wrapper > .content > .itinerary > .content > .inner {
  float: left;
  padding: 9px;
  font-family: 'ProximaNova';
  width: 306px;
  position: relative;
}
.wrapper > .content > .itinerary > .content > .inner > .calendar {
  display: none;
  height: 18px;
  position: absolute;
  left: 8px;
  bottom: 8px;
}
.wrapper > .content > .itinerary > .content > .inner > .calendar > .icon {
  display: block;
  float: left;
  background: url('../img/map.png') no-repeat;
  background-position: -272px -161px;
  width: 16px;
  height: 14px;
  margin-right: 4px;
}
.wrapper > .content > .itinerary > .content > .inner > .calendar > .text {
  float: left;
  text-decoration: none;
  font-size: 11px;
  color: #000;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .more {
  float: right;
  text-decoration: none;
  font-weight: 100;
  color: #808080;
  font-size: 11px;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .more:hover {
  text-decoration: underline;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .view {
  display: none;
  border-bottom: 1px solid #ccc;
  height: 18px;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .view > .text {
  float: right;
  text-decoration: none;
  font-size: 11px;
  color: #000;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .view > .text:hover {
  text-decoration: underline;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .title {
  position: relative;
  top: 10px;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .title > h1 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
}
.wrapper > .content > .itinerary > .content > .inner > .info > .title > h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 100;
  color: #999999;
}
.wrapper > .content > .itinerary > .content > .inner > .info > p {
  font-weight: 100;
  font-size: 12px;
  color: #4d4d4d;
  margin: 12px 0px 0px 0px;
  height: 49px;
  overflow: hidden;
}
.wrapper > .content > .itinerary > .content > .inner > .info > p.full {
  display: none;
}
.wrapper > .content > .itinerary > .content > .inner > .map {
  display: none;
  float: right;
  height: 285px;
  width: 171px;
  height: 170px;
  background: url('../img/map.png') no-repeat;
  background-position: -284px -211px;
  cursor: pointer;
  margin-bottom: 11px;
  margin-right: 32px;
  margin-top: 5px;
}
.wrapper > .content > .itinerary > .content > .inner > .map > .view {
  display: none;
  height: 18px;
}
.wrapper > .content > .itinerary > .content > .inner > .map > .view > .text {
  position: relative;
  left: 26px;
  top: -8px;
  float: right;
  text-decoration: none;
  font-size: 11px;
  color: #4d4d4d;
}
.wrapper > .content > .itinerary > .content > .inner > .map > .view > .text:hover {
  text-decoration: underline;
}
.wrapper > .content > .itinerary > .content > .slider {
  font-family: 'ProximaNova';
  position: relative;
  width: 100%;
  float: left;
  display: none;
}
.wrapper > .content > .itinerary > .content > .slider > .button {
  position: absolute;
  z-index: 1;
  top: 110px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: black;
  background: url('../img/map.png') no-repeat;
}
.wrapper > .content > .itinerary > .content > .slider > .button.left {
  display: none;
  left: 20px;
  background-position: -129px -184px;
}
.wrapper > .content > .itinerary > .content > .slider > .button.left:hover {
  opacity: 0.8;
}
.wrapper > .content > .itinerary > .content > .slider > .button.right {
  right: 20px;
  background-position: -169px -184px;
}
.wrapper > .content > .itinerary > .content > .slider > .button.right:hover {
  opacity: 0.8;
}
.wrapper > .content > .itinerary > .content > .slider > .nav {
  background: #ccc;
  width: 100%;
  height: 30px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner {
  padding: 8px 8px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .item {
  float: left;
  background: url('../img/map.png') no-repeat;
  background-position: -240px -132px;
  display: block;
  width: 18px;
  height: 17px;
  cursor: pointer;
  margin-left: -2px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .item.active {
  background-position: -240px -159px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .item > .number {
  display: block;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 19px;
  height: 17px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .strip {
  float: left;
  width: 29px;
  height: 3px;
  background: #999999;
  margin-right: 2px;
  margin-top: 7px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons {
  float: right;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons > .item {
  float: left;
  margin: 0 8px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons > .item > a {
  display: block;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons > .item > a:hover > .text {
  text-decoration: underline;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons > .item > a > .icon {
  float: left;
  margin: 0 8px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons > .item > a > .text {
  float: left;
  font-size: 12px;
  line-height: 19px;
  height: 19px;
  color: #4d4d4d;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons > .item.download > a > .icon {
  background: url('../img/map.png') no-repeat;
  background-position: -272px -136px;
  display: block;
  width: 18px;
  height: 17px;
}
.wrapper > .content > .itinerary > .content > .slider > .nav > .inner > .icons > .item.print > a > .icon {
  background: url('../img/map.png') no-repeat;
  background-position: -272px -112px;
  display: block;
  width: 19px;
  height: 16px;
}
.wrapper > .content > .itinerary > .content > .slider > .container {
  width: 100%;
  position: relative;
  height: 414px;
  overflow: hidden;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner {
  position: relative;
  width: 680px;
  height: 431px;
  background: #4d4d4d;
  overflow-x: auto;
  overflow-y: hidden;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll {
  margin: 0px;
  padding: 0px;
  list-style: none;
  white-space: nowrap;
  page-break-after: avoid;
  page-break-before: avoid;
  page-break-inside: avoid;
  width: 3000px;
  position: relative;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day {
  float: left;
  height: 414px;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day:nth-of-type(even) {
  background: #4d4d4d;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day:nth-of-type(odd) {
  background: #333;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day > .title {
  color: #fff;
  padding: 0 4px;
  font-weight: 100;
  font-size: 12px;
  line-height: 27px;
  height: 27px;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day > .item {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 158px;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day > .item > .top {
  position: relative;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day > .item > .top > img {
  max-width: 158px;
  max-height: 118px;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day > .item > .top > .name {
  position: absolute;
  right: 0;
  bottom: 4px;
  background: #fff;
  padding: 0 6px;
  font-size: 12px;
  color: #666666;
  max-width: 135px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day > .item > .bottom {
  width: 158px;
}
.wrapper > .content > .itinerary > .content > .slider > .container > .inner > .scroll > .day > .item > .bottom > p {
  font-size: 11px;
  white-space: normal;
  margin-top: 0;
  padding: 8px;
  color: #b3b3b3;
  font-weight: 100;
  line-height: 11px;
}
.wrapper > .content > .itinerary > .content > .bottom {
  display: none;
  width: 100%;
  position: relative;
  background: #5D5D5D;
  overflow: hidden;
  font-family: 'ProximaNova';
  min-height: 113px;
  -moz-box-shadow: inset 1px 7px 13px -7px #000000;
  -webkit-box-shadow: inset 1px 7px 13px -7px #000000;
  -ms-box-shadow: inset 1px 7px 13px -7px #000000;
  -o-box-shadow: inset 1px 7px 13px -7px #000000;
  box-shadow: inset 1px 7px 13px -7px #000000;
}
.wrapper > .content > .itinerary > .content > .bottom > .title {
  cursor: default;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  margin: 8px 0px 0px 24px;
}
.wrapper > .content > .itinerary > .content > .bottom > p {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0 0 4px 24px;
  max-width: 430px;
  cursor: default;
}
.wrapper > .content > .itinerary > .content > .bottom > .list {
  list-style-type: circle;
  color: #fff;
  padding: 0px;
  float: left;
  margin: 0px 0px 14px 47px;
}
.wrapper > .content > .itinerary > .content > .bottom > .list > li {
  color: #fff;
  font-size: 14px;
  cursor: default;
}
.wrapper > .content > .itinerary > .content > .bottom > .list > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.wrapper > .content > .itinerary > .content > .bottom > .list > li > a:hover {
  text-decoration: underline;
}
.wrapper > .content > .itinerary > .content > .bottom > .calendar {
  overflow: hidden;
  margin: 8px 24px;
  width: 430px;
}
.wrapper > .content > .itinerary > .content > .bottom > .calendar > .collumn {
  float: left;
  width: 107px;
}
.wrapper > .content > .itinerary > .content > .bottom > .calendar > .collumn > .item {
  font-size: 12px;
  word-wrap: break-word;
  line-height: 22px;
  height: 22px;
  color: #fff;
}
.wrapper > .content > .itinerary > .content > .bottom > .calendar > .collumn > .item > a > .arrow {
  background: url('../img/map.png') no-repeat;
  background-position: -227px -32px;
  width: 7px;
  height: 4px;
  display: block;
  float: left;
  margin: 8px 4px 0px 0px;
}
.wrapper > .content > .itinerary > .content > .bottom > .calendar > .collumn > .item > a > .text {
  font-size: 12px;
  word-wrap: break-word;
  line-height: 22px;
  height: 22px;
  color: #fff;
  display: block;
}
.wrapper > .content > .itinerary > .content > .bottom > .calendar > .collumn > .item > a:hover > .text {
  text-decoration: underline;
}
.wrapper > .content > .itinerary > .content > .bottom > .social {
  position: absolute;
  right: 172px;
  bottom: 12px;
  top: 12px;
  padding: 0 16px 0 16px;
  margin: 0px;
  background: #5D5D5D;
  border-left: 1px solid #ccc;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 172px;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner > .icons {
  margin: 0;
  padding: 0;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner > .icons > li {
  float: left;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner > .icons > li > a {
  background: url('../img/map.png') no-repeat;
  width: 35px;
  height: 34px;
  display: block;
  margin: 4px;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner > .icons > li > a.paperclip {
  background-position: -9px -286px;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner > .icons > li > a.linkedin {
  background-position: -56px -286px;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner > .icons > li > a.facebook {
  background-position: -104px -286px;
}
.wrapper > .content > .itinerary > .content > .bottom > .social > .inner > .icons > li > a.twitter {
  background-position: -152px -287px;
}
.wrapper > .content > .itinerary > .content > .carousel {
  display: none;
  position: relative;
  height: 169px;
  width: 100%;
  float: left;
}
.wrapper > .content > .itinerary > .content > .carousel > .container {
  width: 100%;
  position: relative;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .inner {
  position: relative;
  overflow: hidden;
  width: 680px;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .inner > ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  white-space: nowrap;
  page-break-after: avoid;
  page-break-before: avoid;
  page-break-inside: avoid;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .inner > ul > li {
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .inner > ul > li.active > span {
  background: none;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .inner > ul > li > span {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/pixel.png');
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .inner > ul > li > a {
  display: block;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .inner > ul > li > a > img {
  height: auto;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .button {
  position: absolute;
  top: 75px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: black;
  background: url('../img/map.png') no-repeat;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .button.left {
  display: none;
  left: 20px;
  background-position: -129px -184px;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .button.left:hover {
  opacity: 0.8;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .button.right {
  right: 20px;
  background-position: -169px -184px;
}
.wrapper > .content > .itinerary > .content > .carousel > .container > .button.right:hover {
  opacity: 0.8;
}
.wrapper > .content > .itinerary > .content > .carousel > .info {
  font-family: 'ProximaNova';
  background: #5D5D5D;
  height: 144px;
  width: 664px;
  padding: 8px;
}
.wrapper > .content > .itinerary > .content > .carousel > .info > .item {
  display: none;
}
.wrapper > .content > .itinerary > .content > .carousel > .info > .item > .title {
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  border-bottom: 1px solid #ccc;
  height: 33px;
  width: 470px;
}
.wrapper > .content > .itinerary > .content > .carousel > .info > .item > p {
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  width: 480px;
}
.wrapper > .content > .itinerary > .content > .social {
  display: none;
  position: relative;
  float: right;
  top: 13px;
  height: 130px;
  width: 173px;
  padding: 2px;
  margin: 0;
  background: #5D5D5D;
  border-left: 1px solid #ccc;
}
.wrapper > .content > .itinerary > .content > .social > .icons {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}
.wrapper > .content > .itinerary > .content > .social > .icons > li {
  float: left;
}
.wrapper > .content > .itinerary > .content > .social > .icons > li > a {
  background: url('../img/map.png') no-repeat;
  width: 35px;
  height: 34px;
  display: block;
  margin: 4px;
}
.wrapper > .content > .itinerary > .content > .social > .icons > li > a.paperclip {
  background-position: -9px -286px;
}
.wrapper > .content > .itinerary > .content > .social > .icons > li > a.linkedin {
  background-position: -56px -286px;
}
.wrapper > .content > .itinerary > .content > .social > .icons > li > a.facebook {
  background-position: -104px -286px;
}
.wrapper > .content > .itinerary > .content > .social > .icons > li > a.twitter {
  background-position: -152px -287px;
}
.wrapper > .content > .itinerary > .view {
  float: right;
  height: 112px;
  width: 19px;
  background: #CCCCCC;
  cursor: pointer;
}
.wrapper > .content > .itinerary > .view > .plus {
  background: url('../img/map.png') no-repeat;
  background-position: -207px -9px;
  width: 13px;
  height: 12px;
  display: block;
  top: 50%;
  position: relative;
  left: 3px;
  margin-top: -5px;
}
.wrapper > .content > .itinerary.open {
  height: 885px;
  cursor: default;
  transition: height 700ms;
  -ms-transition: height 700ms;
  -moz-transition: height 700ms;
  -webkit-transition: height 700ms;
  -o-transition: height 700ms;
}
.wrapper > .content > .itinerary.open > .content {
  height: auto;
  width: 100%;
  position: relative;
}
.wrapper > .content > .itinerary.open > .content > .bg {
  display: block;
}
.wrapper > .content > .itinerary.open > .content > .inner {
  width: 653px;
  padding-right: 19px;
  padding-top: 12px;
  padding-bottom: 0;
}
.wrapper > .content > .itinerary.open > .content > .inner > .calendar {
  display: block;
}
.wrapper > .content > .itinerary.open > .content > .inner > .info {
  float: left;
  width: 394px;
  position: absolute;
  z-index: 1;
}
.wrapper > .content > .itinerary.open > .content > .inner > .info > .more {
  display: none;
}
.wrapper > .content > .itinerary.open > .content > .inner > .info > .view {
  display: block;
  cursor: pointer;
}
.wrapper > .content > .itinerary.open > .content > .inner > .info > .title {
  cursor: default;
}
.wrapper > .content > .itinerary.open > .content > .inner > .info > .title > h1 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 12px;
}
.wrapper > .content > .itinerary.open > .content > .inner > .info > .min {
  display: none;
}
.wrapper > .content > .itinerary.open > .content > .inner > .info > .full {
  cursor: default;
  display: block;
  border-top: 1px solid #ccc;
  padding-top: 12px;
}
.wrapper > .content > .itinerary.open > .content > .inner > .map {
  display: block;
}
.wrapper > .content > .itinerary.open > .content > .inner > .map > .view {
  display: block;
}
.wrapper > .content > .itinerary.open > .content > .slider {
  display: block;
}
.wrapper > .content > .itinerary.open > .content > .bottom {
  display: block;
}
.wrapper > .content > .itinerary.open > .image {
  width: 661px;
}
.wrapper > .content > .itinerary.open > .image > img {
  width: 661px;
  height: auto;
}
.wrapper > .content > .itinerary.open > .view {
  height: 242px;
}
.wrapper > .content > .itinerary.open > .view > .plus {
  background-position: -229px -9px;
}
.discover {
  position: fixed;
  bottom: 68px;
  left: 40px;
  font-family: 'ProximaNova';
  transition: bottom 100ms;
  -ms-transition: bottom 100ms;
  -moz-transition: bottom 100ms;
  -webkit-transition: bottom 100ms;
  -o-transition: bottom 100ms;
}
.discover.open > .bottom {
  height: 185px;
}
.discover.open > .top {
  margin-bottom: 4px;
}
.discover > .top {
  width: 190px;
  height: 25px;
  margin-bottom: 0px;
}
.discover > .top > .left {
  float: left;
  height: 25px;
  min-width: 125px;
  margin-right: 4px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
}
.discover > .top > .left > .text {
  font-size: 14px;
  color: #cccccc;
  padding: 4px 6px;
  margin: 0 4px;
  cursor: pointer;
  line-height: 150%;
  text-align: center;
}
.discover > .top > .right {
  float: left;
  height: 25px;
  width: 25px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.discover > .top > .right > .arrow {
  display: block;
  background: url('../img/map.png') no-repeat;
  background-position: -227px -32px;
  width: 7px;
  height: 4px;
  margin: 11px 0px 0px 9px;
}
.discover > .bottom {
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  width: 365px;
  padding: 0;
  height: 0;
  transition: height 200ms;
  -ms-transition: height 200ms;
  -moz-transition: height 200ms;
  -webkit-transition: height 200ms;
  -o-transition: height 200ms;
  overflow: hidden;
}
.discover > .bottom > .text {
  cursor: default;
  font-size: 13px;
  color: #f2f2f2;
  width: 300px;
  margin-left: 8px;
  margin-top: 8px;
  min-height: 135px;
}
.discover > .bottom > .website {
  border-top: 1px solid #ccc;
  margin: 4px 0px 0px 0px;
  padding-top: 1px;
  overflow: hidden;
}
.discover > .bottom > .website > a {
  font-size: 13px;
  color: #fff;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}
.discover > .bottom > .website > a:hover {
  text-decoration: underline;
}
.footer {
  z-index: 3;
  height: 35px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer > .links {
  float: right;
  margin: 10px 12px;
  padding: 0;
}
.footer > .links > li {
  float: left;
  margin: 0;
  font-size: 12px;
  font-weight: 100;
  color: #666666;
  font-family: 'ProximaNova';
}
.footer > .links > li > a {
  padding: 0px 6px;
  text-decoration: none;
  color: #666666;
}
.footer > .links > li > a:hover {
  text-decoration: underline;
}
.footer > span {
  float: left;
  font-size: 11px;
  margin: 12px 12px 8px 12px;
  color: #666;
  cursor: default;
}
.footer > .social {
  margin: 0;
  padding: 0;
}
.footer > .social > li {
  float: left;
  margin: 5px 0px;
  font-size: 12px;
}
.footer > .social > li > a {
  width: 21px;
  height: 20px;
  display: block;
  margin: 4px;
}
object {
  opacity: 0.5;
}
object:hover {
  opacity: 1;
}
/* ========================= */
1 .ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
