/* ============================
        Explore button
================================*/


.wrapper {
  opacity: 1;
  -webkit-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
  &.hide {
    opacity: 0;
  }  
}

.explore__bg-button {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.explore-button {
  background: rgba(0,0,0, 0.7);
  border-radius: 7px;
  position: relative;
  height: auto;
  width: auto;
  color: white;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}

.explore-icon {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 27px;
  margin-right: 10px;
  padding: 5px 0;
  box-sizing: border-box;
  background: url('../img/explore-open.png') no-repeat;
  &.active {
    background: url('../img/explore-close.png') no-repeat;
  }
}

.explore-text {
  position: relative;
  display: inline-block;
  text-align: left;
  font-family: 'ProximaNova';
  padding: 5px 0;
  box-sizing: border-box;
  line-height: 1.2em;
  font-size: 0.9em;
  font-weight: 200;
  width: 100px;

  &.hide{
    display: none;
  }
}