@import "elements.less";
@import "fonts.less";

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-y: scroll; }
html, button, input, select, textarea { font-family: 'Arial', sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4;	.noSelect(); }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol, ul { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@media only screen and (min-width: 35em) {

}

@colorDefault: #333333;

html {
  &.disabled {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
body {
	// background: url('../img/background.jpg');
}
a {
  text-decoration: none;
}

#beta {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
.overlay {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0
}
.background {
  z-index: -1;
  > .image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .background > .image {
    left: 50%;
    margin-left: -512px;
  }
}
.header {
	height: 35px;
	background: rgb(256, 256, 256);
	background: rgba(256, 256, 256, 0.7);
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
	> .logo {
		width: 103px;
		height: 26px;
    float: left;
    margin: 5px 12px;
	}
  > .copyright {
    cursor: default;
    font-family: 'ProximaNova';
    float: right;
    margin: 8px 12px;
    //margin-right: 147px;
  }
}
.mapTool {
  position: fixed;
  left: 0;
  top: 35px;
  bottom: 35px;
  //right: 0;
  z-index: 2;
  transition: transform 200ms ease;
  -ms-transition: -ms-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -webkit-transition: -webkit-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  > .map {
    width: 100%;
    height: 100%;
  }
  > .close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    height: 60px;
    width: 60px;
    background: #343434;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    > .cross {
      background: url('../img/atlasGeneral.png') no-repeat -129px -441px;
      width: 39px;
      height: 39px;
      display: block;
      margin: 0px auto;
      margin-top: 11px;
    }
  }
}
.tooltip {
  cursor: default;
  > img {
    width: 220px;
    height: 164px;
    display: block;
    background: #494949;
  }
  > .placeholder {
    width: 220px;
    height: 164px;
    background: #494949;
  }
  &.hover {
    .box-shadow(0 0 4px 4px rgba(0, 0, 0, .15));
    background: #FFF;
    //height: 60px;
    .edge {
      width: 220px;
      height: 32px;
      background: #263c80;
      > span {
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        margin-left: 7px;
        padding: 5px;
      }
    }
    &.small {
      height: 42px;
      .edge {
        height: 2px;
      }
    }
    .title {
      padding: 5px 10px;
      width: 195px;
      height: 30px;
      font-size: 23px;
      font-weight: 100;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
    .arrow {
      background: url('../img/atlasGeneral.png') no-repeat -343px -152px;
      width: 27px;
      height: 33px;
      position: absolute;
      right: -25px;
      top: -1px;
    }
  }
  &.click {
    > div.inner {
      .box-shadow(0 0 4px 4px rgba(0, 0, 0, .15));
      > img {
        width: 220px;
        height: 164px;
        display: block;
      }
      > .placeholder {
        width: 220px;
        height: 164px;
        background: #494949;
      }
      > .close {
        background: url('../img/mapClose.png') no-repeat 0 0;
        width: 35px;
        height: 35px;
        position: absolute;
        right: -14px;
        top: -18px;
        cursor: pointer;
        &:hover {
          background: url('../img/mapClose.png') no-repeat -36px 0;
        }
      }
      > .arrow {
        background: url('../img/atlasGeneral.png') no-repeat -343px -152px;
        width: 27px;
        height: 33px;
        position: absolute;
        right: -25px;
        top: 165px;
      }
      > .edge {
        float: left;
        width: 5px;
        background: #FF0000;
        height: 100%;
      }
      > .border {
        height: 2px;
        width: 100%;
      }
      > .title {
        padding: 8px 8px 4px 8px;
        font-size: 23px;
        background: #fff;
        font-weight: 100;
        line-height: 26px;
      }
      > .desc {
        padding: 0px 10px 12px 10px;
        font-size: 14px;
        margin: 0px;
        background: #fff;
        line-height: 18px;
        //max-height: 194px;
        > p {
          margin: 0px;
        }
      }
    }
  }
}
.wrapper {
  width: 960px;
  margin: 0px auto;
  position: relative;
  top: 100px;
  &.home {
    > .content {
      margin: 0;
      padding: 0;
      box-shadow: none;
    }
  }
  > .sidebar {
    position: fixed;
    top: 50%;
    top: 40%\9;
    *top: 50%;
    *left: 0;
    margin-top: -208px;
    width: 257px;
    margin-left: 7px;
    font-family: 'ProximaNova';
    > .right {
      position: absolute;
      display: none;
      &.open {
        left: 260px;
        display: block;
      }
      > .edge {
        background: url('../img/map.png') no-repeat;
        &.top {
          top: 0;
          left: 0;
          background-position: -4px -46px;
          width: 257px;
          height: 32px;     
        }
        &.bottom {
          bottom: 0;
          left: 0;
          background-position: -4px -83px;
          width: 257px;
          height: 35px;
          > .world {
            background: url('../img/map.png') no-repeat;
            background-position: -156px -2px;
            width: 22px;
            height: 21px;
            float: right;
            margin-right: 24px;
          }
        }
      }
      > .middle {
        background: url('../img/middle.png');
        width: 257px;
        //height: 156px;
        //*height: 172px;
        > .top {
          margin: 0 28px 0 18px;
          padding-bottom: 8px;
          border-bottom: 2px solid #808080;
          > h2 {
            margin: 0;
            font-size: 22px;
            font-weight: 100;
            line-height: 20px;
            cursor: default;
          }
          > h3 {
            margin: 0;
            font-size: 15px;
            font-weight: 100;
            color: #808080;
          }
        }
        > .bottom {
          overflow: hidden;
          cursor: default;
          > .left {
            float: left;
            background: url('../img/map.png') no-repeat;
            background-position: -13px -168px;
            width: 84px;
            height: 86px;
            margin-left: 18px;
            margin-top: 12px;
            margin-right: 12px;
          }
          > .right {
            float: left;
            width: 115px;
            > p {
              line-height: 18px;
              font-size: 16px;
              border-bottom: 1px solid #000;
              margin: 0;
              padding: 17px 0px;
              color: #4D4D4D;
            }            
            > h3 {
              line-height: 18px;
              font-size: 13px;
              border-bottom: 1px solid #000;
              margin: 0;
              padding: 12px 0px;
              color: #808080;
              font-weight: normal;
            }
            > .language {
              width: 93px;
              font-size: 14px;
              margin-top: 22px;
            }
          }
          .select {
            float: left;
            margin-left: 18px;
            width: 211px;
            > p {
              width: 100%;
              text-align: right;
              font-size: 12px;
              color: #999999;
              margin: 12px 0px 4px 0px;
            }
            > .language {
              width: 100%;
            }
          }
        }
      }  
    }
    > .left {
      position: absolute;
      left: 0;
      > .edge {
        background: url('../img/map.png') no-repeat;
        &.top {
          top: 0;
          left: 0;
          background-position: -4px -46px;
          width: 257px;
          height: 32px;
        }
        &.bottom {
          bottom: 0;
          left: 0;
          background-position: -4px -83px;
          width: 257px;
          height: 35px;
          > .world {
            cursor: pointer;
            background: url('../img/map.png') no-repeat;
            background-position: -156px -2px;
            width: 22px;
            height: 21px;
            float: right;
            margin-right: 24px;
            &:hover {
              background-position: -156px -25px;
            }
            &.active {
              background-position: -156px -25px;
            }
          }
        }
      }
      > .britAgent {
        display: block;
        width: 96px;
        height: 39px;
        background: url('../img/map.png') no-repeat;
        background-position: -129px -135px;
        margin-left: 23px;
        margin-top: -2px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-weight: 100;
        font-size: 14px;
        line-height: 26px;
      }
      > .middle {
        background: url('../img/middle.png');
        width: 257px;
        > .content {
          margin-left: 3px;
          > .inner {
            width: 246px;
            font-weight: normal;
            > .title {
              height: 39px;
              margin-left: -8px;
              cursor: default;
              > .right {
                float: left;
                width: 19px;
                height: 40px;
                background: url('../img/map.png') no-repeat;
                background-position: -181px -2px;
              }
              > a > h1 {
                float: left;
                margin: 0;
                padding: 3px;
                padding-left: 12px;
                padding-right: 8px;
                font-size: 23px;
                color: #fff;
                background: #263c80;
                height: 34px;
                font-weight: 100;
                line-height: 35px;
                font-weight: 100;
              }
              > a {
                > span {
                  background: #263c80;
                  float: left;
                  height: 40px;
                  width: 205px;
                }
                > img {
                  position: absolute;
                  top: 44px;
                  left: 8px;
                }
              }
            }
            > .nav {
              > ul {
                //padding: 16px 0px;
                padding: 16px 0px 1px 0px;
                > li {
                  margin-bottom: 8px;
                  padding-bottom: 20px;
                  *margin-bottom: 0px;
                  *padding-bottom: 0px;
                  transition: padding 300ms;
                  -ms-transition: padding 300ms;
                  -moz-transition: padding 300ms;
                  -webkit-transition: padding 300ms;
                  -o-transition: padding 300ms;
                  > .title {
                    position: relative;
                    cursor: pointer;
                    background: url('../img/underline.png') no-repeat left bottom;
                    padding: 0 16px;
                    font-size: 14px;
                    color: #4D4D4D;
                    text-decoration: none;
                    display: block;
                    > .heading {
                      margin-left: 40px;
                    }              
                    > .icon {
                      position: absolute;
                      width: 37px;
                      height: 37px;
                      //background: url('../img/map.png') no-repeat;
                      margin-right: 4px;
                      *left: 16px;
                      *top: 16px;
                      // &.itineraries {
                      //   background-position: -1px 0;
                      // }
                      // &.support {
                      //   background-position: -39px 0;
                      // }
                      // &.resources {
                      //   background-position: -77px 0;
                      // }
                      // &.opportunities {
                      //   background-position: -115px 0;
                      // }
                    }
                  }
                  > .subnav {
                    height: 0;
                    overflow: hidden;
                    transition: height 300ms;
                    -ms-transition: height 300ms;
                    -moz-transition: height 300ms;
                    -webkit-transition: height 300ms;
                    -o-transition: height 300ms;
                    > ul {
                      margin-right: 3px;
                      padding: 8px;
                      background: url('../img/subnav.jpg');
                      -moz-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
                      -webkit-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
                      -ms-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
                      -o-box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
                      box-shadow: inset 1px 7px 13px -7px #000000, inset 1px -7px 9px -7px #000000;
                      > li {
                         height: 22px;
                         line-height: 22px;
                         text-align: center;
                         margin: 2px 0px;
                        > a {
                          color: #fff;
                          text-decoration: none;
                          font-size: 13px;
                          font-weight: 100;
                          &:hover {
                            text-decoration: underline;
                          }
                          &.active {
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                  &.open {
                    padding-bottom: 0px;
                    > .title {
                      background: none;
                    }
                    > .subnav {
                      visibility: visible;
                      height: auto;
                    }
                  }
                  &.inital {
                    transition: padding 0ms;
                    -ms-transition: padding 0ms;
                    -moz-transition: padding 0ms;
                    -webkit-transition: padding 0ms;
                    -o-transition: padding 0ms;
                    > .subnav {
                      transition: height 0ms;
                      -ms-transition: height 0ms;
                      -moz-transition: height 0ms;
                      -webkit-transition: height 0ms;
                      -o-transition: height 0ms;
                    }
                  }
                }
              }
            }   
          }
        }
      }
    }
  }
  > .content {
    position: relative;
    left: 270px;
    width: 680px;
    //padding-bottom: 100px;
    margin-bottom: 200px;
    .drop-shadow(3px, 3px, 9px, 0.3);
    &.noShadow {
      box-shadow: none;
    }    
    &.newsletter {
      background: #fff;
      padding-bottom: 0;
      float: left;
      > .inner {
        padding: 18px 24px;
        font-family: 'ProximaNova';
        cursor: default;
        > .top {
          border-bottom: 1px solid #ccc;
          padding-bottom: 0px;
          margin-bottom: 16px;
          overflow: hidden;
          > h1 {
            font-size: 30px;
            font-weight: normal;
            margin: 0;
            line-height: 30px;
          }
          > h2 {
            font-size: 15px;
            font-weight: normal;
            color: #808080;
            margin: 0;
            margin-bottom: 8px;
          }
          .rightTitle {
            float: right;
            font-size: 12px;
            color: #333333;
          }          
        }
        > .strap {
          font-size: 12px;
          width: 260px;
        }
        .list {
          border-bottom: 1px solid #ccc;
          overflow: hidden;
          padding-bottom: 4px;
          > .collumn {
            float: left;
            margin-right: 64px;
            width: 165px;
            > .item {
              font-size: 12px;
              word-wrap: break-word;
              margin-bottom: 12px;
              position: relative;
              > input {
                width: 100%;
                border: none;
                background: #e6e6e6;
                padding: 2px 4px;
              }
              > .cross {
                display: none;
                background: url('../img/map.png') no-repeat;
                background-position: -280px -95px;
                width: 6px;
                height: 5px;
                position: absolute;
                right: 0px;
                bottom: 6px;
              }
              &.error {
                > input {
                  background: #f48484;
                }
                > .cross {
                  display: block;
                }
              }
            }
            &.last {
              margin-right: 0;
            }
          }
        }
        .emailSubmit {
          overflow: hidden;
          margin: 16px 0px 0 0;
          > p {
            float: right;
            font-size:12px;
            padding: 0;
            margin: 0;
            line-height: 22px;
            height: 22px;
          }
          > a {
            float: right;
            .gradient(#2851a3, #2851a3, #263a7c);
            margin-left: 8px;
            display: block;
            height: 19px;
            color: #fff;
            padding: 1px 7px;
          }
          input {
            float: right;
            background: #2851a3;
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2851a3), color-stop(1, #263a7c));
            background: -ms-linear-gradient(bottom, #2851a3, #263a7c);
            background: -moz-linear-gradient(center bottom, #2851a3 0%, #263a7c 100%);
            margin-left: 8px;
            display: block;
            height: 21px;
            color: #fff;
            padding: 1px 7px;
            border:0;
          }
        }
      }
    }
    &.standard {
      background: #fff;
      padding-bottom: 0;
      float: left;
      > .inner {
        padding: 18px 24px;
        padding: 18px 18px 6px 18px;
        font-family: 'ProximaNova';
        > .top {
          cursor: default;
          border-bottom: 1px solid #ccc;
          padding-bottom: 8px;
          margin-bottom: 16px;
          overflow: hidden;
          > h1 {
            font-size: 30px;
            font-weight: normal;
            margin: 0;
            line-height: 30px;
          }
          > h2 {
            font-size: 15px;
            font-weight: normal;
            color: #808080;
            margin: 0;
            margin-bottom: 8px;
            // max-width: 470px;
          }
          .rightTitle {
            float: right;
            font-size: 12px;
            color: #333333;
          }
        }
        > .wysiwyg {
          > p {
            font-weight: 100;
            font-size: 12px;
            color: #606060;
          }
          > ul {
            list-style: none;
            > li {
              font-size: 12px;
              color: #4d4d4d;
            }
          }
        }
        > .list {
          > .item {
            overflow: hidden;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid #ccc;
            &.last {
              border-bottom: none;
              padding-bottom: 0;
              margin-bottom: 0;
            }
            > p {
              font-size: 12px;
              cursor: default;
              &.offset {
                -webkit-user-select: text;
                -moz-user-select: text;
                -ms-user-select: text;
                text-align: right;
                margin-top: 22px;
              }
              > a {
                text-decoration: underline;
                color: #000;
              }
            }
            > .left {
              float: left;
              width: 212px;
              .logo {
                max-width: 184px;
              }
              > ul {
                list-style: none;
                > li {
                  font-size: 12px;
                  color: #4d4d4d;
                }
              }
              &.address {
                > ul  {
                  list-style: none;
                  > li {
                    font-size: 12px;
                    color: #4d4d4d;
                  }
                }
              }
            }
            > .right {
              cursor: default;
              float: left;
              width: 432px;
              position: relative;
              > .top {
                border-bottom: 1px solid #ccc;
                overflow: hidden;
                > .title {
                  font-size: 22px;
                  color: #4D4D4D;
                }
                > .link {
                  float: right;
                  > a {
                   font-size: 12px;
                   color: #333333;
                   &:hover {
                    text-decoration: underline;
                   }
                  }
                }
                > .strap {
                  font-weight: 100;
                  color: #808080;
                  font-size: 14px;
                }
                > .download {
                  float: right;
                  margin-bottom: 8px;
                  > .text {
                    line-height: 47px;
                    height: 36px;
                    cursor: default;
                    > a {
                      background: url('../img/map.png') no-repeat;
                      background-position: -203px -280px;
                      margin-left: 8px;
                      display: block;
                      width: 44px;
                      height: 41px;
                      float: right;
                    }                  
                  }
                }                
              }
              > p {
                font-weight: 100;
                font-size: 12px;
                padding-top: 4px;
                margin: 4px 0;
                color: #606060;
                font-family: arial;
              }             
              > .link {
                float: right;
                > a {
                 font-size: 12px;
                 color: #333333;
                 &:hover {
                  text-decoration: underline;
                 }
                }
              }
              > .strap {
                font-weight: 100;
                color: #808080;
                font-size: 14px;
              }
              > .person {
                list-style: none;
                position: relative;
                bottom: 0;
                right: 0;
                &.offset {
                  position: absolute;
                  right: 106px;
                }
                > li {
                  font-size: 12px;
                  color: #4d4d4d;
                  text-align: right;
                  > a {
                    text-decoration: underline;
                    color: #000;                    
                  }
                }
              }
              > .personImage {
                float: right;
                margin-left: 8px;
                > img {
                  max-width: 90px;
                }
              }        
            }
          }
        }
      }
    }
    &.britAgent {
      background: #fff;
      padding-bottom: 0;
      float: left;
      > .inner {
        padding: 18px 24px;
        font-family: 'ProximaNova';
        > .top {
          cursor: default;
          border-bottom: 1px solid #ccc;
          padding-bottom: 8px;
          margin-bottom: 16px;
          > h1 {
            font-size: 30px;
            font-weight: normal;
            margin: 0;
            line-height: 30px;
          }
          > h2 {
            font-size: 15px;
            font-weight: normal;
            color: #808080;
            margin: 0;
          }
        }
        > .list {
          > .item {
            overflow: hidden;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid #ccc;
            > .left {
              float: left;
              width: 200px;
              > .logo {
                max-width: 184px;
              }
            }
            > .right {
              > .top {
                border-bottom: 1px solid #ccc;
                overflow: hidden;
                > .title {
                  font-size: 22px;
                  color: #4D4D4D;
                }
                > .strap {
                  font-weight: 100;
                  color: #808080;
                  font-size: 14px;
                }
                > .link {
                  float: right;
                  margin-top: 48px;
                  > a {
                   font-size: 12px;
                   color: #333333;
                   &:hover {
                    text-decoration: underline;
                   }
                  }
                }
              }
              cursor: default;
              float: left;
              width: 432px;
              > p {
                font-weight: 100;
                font-size: 12px;
                padding-top: 0px;
                margin: 24px 0 0 0;
                color: #606060;
                font-family: arial;
              }
              > .download {
                float: right;
                > .text {
                  line-height: 47px;
                  height: 36px;
                  cursor: default;
                  > a {
                    background: url('../img/map.png') no-repeat;
                    background-position: -203px -280px;
                    margin-left: 8px;
                    display: block;
                    width: 44px;
                    height: 41px;
                    float: right;
                  }                  
                }
              }
            }
          }
        }
      }
    }
    &.images {
      background: #fff;
      padding-bottom: 0;
      margin-bottom: 35px;
      float: left;
      > .inner {
        padding: 18px 18px;
        font-family: 'ProximaNova';
        > .top {
          cursor: default;
          border-bottom: 1px solid #ccc;
          padding-bottom: 8px;
          margin-bottom: 16px;
          > h1 {
            font-size: 30px;
            font-weight: normal;
            margin: 0;
            line-height: 30px;
          }
          > h2 {
            font-size: 15px;
            font-weight: normal;
            color: #808080;
            margin: 0;
          }
        }
        > .list {
          > .item {
            overflow: hidden;
            > .left {
              float: left;
              width: 200px;
              > .logo {
                max-width: 184px;
              }
            }
            > .right {
              cursor: default;
              float: left;
              width: 444px;
              > .top {
                border-bottom: 1px solid #ccc;
                overflow: hidden;
                > .title {
                  font-size: 22px;
                  color: #4D4D4D;
                }
                > .strap {
                  font-weight: 100;
                  color: #808080;
                  font-size: 14px;
                }
                > .link {
                  float: right;
                  margin-top: 35px;
                  > a {
                   font-size: 12px;
                   color: #333333;
                   &:hover {
                    text-decoration: underline;
                   }
                  }
                }
                > .download {
                  float: right;
                  > .text {
                    line-height: 47px;
                    height: 36px;
                    cursor: default;
                    > a {
                      background: url('../img/map.png') no-repeat;
                      background-position: -203px -280px;
                      margin-left: 8px;
                      display: block;
                      width: 44px;
                      height: 41px;
                      float: right;
                    }                  
                  }
                }

              }
              > p {
                font-weight: 100;
                font-size: 12px;
                // border-top: 1px solid #ccc;
                // border-bottom: 1px solid #ccc;
                padding: 12px 0 0 0;
                margin: 0 0 0 0;
                color: #606060;
                font-family: arial;
                &.offset {
                  border-top: 1px solid #ccc;
                  text-align: right;
                  margin: 0;
                  margin-top: 12px;
                  padding-bottom: 0;
                  padding-top: 12px;
                }
              }
            }
          }
        }
      }
      > .bottom {
        min-height: 35px;
        > .title {
          font-size: 16px;
          font-weight: 100;
          color: #f2f2f2;
          a {
            color: #f2f2f2;
            text-decoration: underline;
          }
        }
      }
    }      
    &.video {
      background: #fff;
      padding-bottom: 0;
      float: left;
      > .inner {
        padding: 18px 18px;
        font-family: 'ProximaNova';
        > .top {
          cursor: default;
          border-bottom: 1px solid #ccc;
          padding-bottom: 8px;
          margin-bottom: 16px;
          > h1 {
            font-size: 30px;
            font-weight: normal;
            margin: 0;
            line-height: 30px;
          }
          > h2 {
            font-size: 15px;
            font-weight: normal;
            color: #808080;
            margin: 0;
          }
        }
        > .list {
          > .item {
            overflow: hidden;
            > .left {
              float: left;
              width: 200px;
              > .logo {
                max-width: 184px;
              }
            }
            > .right {
              cursor: default;
              float: left;
              width: 100%;
              &.image {
                width: 444px;
                > p.offset {
                  margin-top: 12px;
                  border-top: 1px solid #ccc;
                }
              }
              > .top {
                border-bottom: 1px solid #ccc;
                overflow: hidden;
                > .title {
                  font-size: 22px;
                  color: #4D4D4D;
                }
                > .strap {
                  font-weight: 100;
                  color: #808080;
                  font-size: 14px;
                }
                > .link {
                  float: right;
                  margin-top: 35px;
                  > a {
                   font-size: 12px;
                   color: #333333;
                   &:hover {
                    text-decoration: underline;
                   }
                  }
                }
              }
              > p {
                font-weight: 100;
                font-size: 12px;
                padding: 12px 0 0 0;
                margin: 0;
                color: #606060;
                font-family: arial;
                &.offset {
                  text-align: right;
                  margin: 0;
                  margin-top: 12px;
                  border: none;
                  margin: 0;
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
      > .bottom {
        > .slider {
          position: relative;
          width: 100%;
          float: left;
          > .container {
            width: 100%;
            position: relative;
            > .inner {
              position: relative;
              overflow: hidden;
              width: 3680px;
              > .scroll {
                margin: 0px;
                padding: 0px;
                list-style: none;
                white-space: nowrap;
                page-break-after: avoid;
                page-break-before: avoid;
                page-break-inside: avoid;
                position: relative;
                padding: 16px;
                > .item {
                  cursor: pointer;
                  position: relative;
                  float: left;
                  height: 120px;
                  width: 160px;
                  margin-right: 16px;
                  margin-bottom: 16px;
                  > img {
                    max-width: 160px;
                  }
                  > span {
                    background: url('../img/map.png') no-repeat;
                    background-position: -361px -8px;
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    left: 62px;
                    top: 42px;
                  }
                }
              }
            }
          }
        }
      }
    }    
    &.calendar {
      background: #fff;
      padding-bottom: 0;
      float: left;
      > .inner {
        padding: 18px 24px;
        padding: 18px 24px 0px 16px;
        font-family: 'ProximaNova';
        > .top {
          border-bottom: 1px solid #ccc;
          padding-bottom: 8px;
          margin-bottom: 16px;
          overflow: hidden;
          > .title {
            width: 360px;
            float: left;
            cursor: default;
            > h1 {
              font-size: 30px;
              font-weight: normal;
              margin: 0;
              line-height: 30px;
            }
            > h2 {
              font-size: 15px;
              font-weight: normal;
              color: #808080;
              margin: 0;
            }            
          }
          > .downloads {
            float: right;
            > .title {
              font-size: 17px;
              color: #333333;
              margin-bottom: 8px;
              border-bottom: 1px solid #ccc;
              cursor: default;
            }
            > .list {
              > li {
                float: left;
                &.first {
                  margin-right: 16px;
                }
                > a {
                  display: block;
                  float: left;
                  > .icon {
                    background: url('../img/map.png') no-repeat;
                    background-position: -210px -236px;
                    margin-left: 8px;
                    display: block;
                    width: 30px;
                    height: 30px;
                    float: left;
                  }
                  > .text {
                    color: #666666;
                    font-size: 15px;
                    display: block;
                    float: left;
                    line-height: 33px;
                    height: 33px;
                  }
                }                  
              }
            }
          }
        }
        > .list {
          > .item {
            overflow: hidden;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid #ccc;
            > .image {
              float: left;
              width: 234px;
              &.right {
                float: right;
              }
              > .img {
                max-width: 234px;
              }
            }
            > .copy {
              float: left;
              width: 360px;
              margin-left: 16px;
              cursor: default;
              &.left {
                text-align: right;
              }
              > .title {
                font-size: 21px;
                color: #4D4D4D;
                line-height: 21px;
                //height: 18px;

              }
              > .strap {
                font-weight: 100;
                color: #808080;
                font-size: 14px;
                > a {
                  color: #808080;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
              > p {
                font-weight: 100;
                font-size: 12px;
                padding-top: 4px;
                margin: 0;
                color: #606060;
                font-family: arial;
              }
            }
          }
        }
      }
    }
    > .bottom {
      position: relative;
      background: #5D5D5D;
      overflow: hidden;
      font-family: 'ProximaNova';
      min-height: 113px;
      -moz-box-shadow: inset 1px 7px 13px -7px #000000;
      -webkit-box-shadow: inset 1px 7px 13px -7px #000000;
      -ms-box-shadow: inset 1px 7px 13px -7px #000000;
      -o-box-shadow: inset 1px 7px 13px -7px #000000;
      box-shadow: inset 1px 7px 13px -7px #000000;
      > .title {
        cursor: default;
        font-weight: normal;
        font-size: 18px;
        color: #fff;
        margin: 8px 0px 0px 24px;
      }
      > p {
        font-size: 12px;
        color: #b3b3b3;
        margin: 0 0 4px 24px;
        max-width: 430px;
        cursor: default;
      }
      > ul {
        list-style-type: circle;
        color: #fff;
        padding: 0px;
        float: left;
        margin: 0px 0px 14px 47px;
        > li {
            color: #fff;
            font-size: 14px;
            cursor: default;
            font-weight: 100;
          > a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: 100;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      > .calendar {
        overflow: hidden;
        margin: 8px 24px;
        width: 430px;
        > .collumn {
          float: left;
          width: 107px;
          > .item {
            font-size: 12px;
            word-wrap: break-word;
            line-height: 22px;
            height: 22px;
            color: #fff;
            > a {
              > .arrow {
                background: url('../img/map.png') no-repeat;
                background-position: -227px -32px;
                width: 7px;
                height: 4px;
                display: block;
                float: left;
                margin: 8px 4px 0px 0px;
              }
              > .text {
                font-size: 12px;
                word-wrap: break-word;
                line-height: 22px;
                height: 22px;
                color: #fff;
                display: block;                
              }
              &:hover {
                > .text {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      > .social {
        position: absolute;
        right: 172px;
        bottom: 12px;
        top: 12px;
        padding: 0 16px 0 16px;
        margin: 0px;
        background: #5D5D5D;
        border-left: 1px solid #ccc;
        > .inner {
          overflow: hidden;
          position: absolute;
          bottom: 0;
          width: 172px;
          > .icons {
            margin: 0;
            padding: 0;
            > li {
              float: left;
              > a {
                background: url('../img/map.png') no-repeat;
                width: 35px;
                height: 34px;
                display: block;
                margin: 4px;
                &.paperclip {
                  background-position: -9px -286px;
                }
                &.linkedin {
                  background-position: -56px -286px;
                } 
                &.facebook {
                  background-position: -104px -286px;
                }
                &.twitter {
                  background-position: -152px -287px;
                }
              }
            }
          }
        }
      }
      &.register {
        > p {
          max-width: 400px;
        }
        > .button {
          max-width: 400px;
          height: 40px;
          margin: 0 0 4px 24px;
          > .register {
            .gradient(#2851a3, #2851a3, #263a7c);
            height: 20px;
            color: #fff;
            padding: 1px 7px;
            float: right;
          }
        }
        > .login {
          position: absolute;
          right: 210px;
          bottom: 12px;
          top: 12px;
          padding: 0 16px 0 16px;
          margin: 0px;
          background: #5D5D5D;
          border-left: 1px solid #ccc;
          > .inner {
            overflow: hidden;
            position: absolute;
            width: 200px;
            > .top {
              > .title {
                border-bottom: 1px solid #ccc;
                cursor: default;
                font-weight: normal;
                font-size: 18px;
                color: #fff;
              }
            }
            > .bottom {
              > .password, .username {
                float: left;
                width: 78px;
                *width: 73px;
                border: none;
                outline: none;
                font-size: 15px;
                padding: 4px 9px;
                margin-top: 8px;
                margin-right: 8px;
                .border-radius(4px, 4px, 4px, 4px);
                color: #4d4d4d;
                font-size: 12px;
                &.error {
                  background: #f48484;
                }
              }
              > .password {
                margin-right: 0;
              }
              > .button {
                margin: 8px 0 0 0;
                float: right;
                > .login {
                border: none;
                  .gradient(#2851a3, #2851a3, #263a7c);
                  height: 20px;
                  color: #fff;
                  padding: 1px 7px;
                  float: right;
                }
              }
            }
          }
        }
      }    
    }
    > .itinerary {
      cursor: pointer;
      background: #fff;
      overflow: hidden;
      margin-bottom: 16px;
      .drop-shadow(3px, 3px, 9px, 0.3);
      > .image {
        float: left;
      }
      > .content {
        float: left;
        width: 326px;
        height: 112px;
        > .bg {
          background: url('../img/map.png') no-repeat right bottom;
          background-position: -14px -343px;
          width: 246px;
          height: 226px;
          position: absolute;
          right: 34px;
          top: -1px;
          z-index: 0;
          display: none;
        }
        > .inner {
          float: left;
          padding: 9px;
          font-family: 'ProximaNova';
          width: 306px;
          position: relative;
          > .calendar {
            display: none;
            height: 18px;
            position: absolute;
            left: 8px;
            bottom: 8px;
            > .icon {
              display: block;
              float: left;
              background: url('../img/map.png') no-repeat;
              background-position: -272px -161px;
              width: 16px;
              height: 14px;
              margin-right: 4px;
            }
            > .text {
              float: left;
              text-decoration: none;
              font-size: 11px;
              color: #000;            
            }
          }
          > .info {
            > .more {
              float: right;
              text-decoration: none;
              font-weight: 100;
              color: #808080;
              font-size: 11px;
              &:hover {
                text-decoration: underline;
              }
            }
            > .view {
              display: none;
              border-bottom: 1px solid #ccc;
              height: 18px;
              > .text {
                float: right;
                text-decoration: none;
                font-size: 11px;
                color: #000;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            > .title {
              position: relative;
              top: 10px;
              > h1 {
                margin: 0;
                font-size: 20px;
                line-height: 20px;
                font-weight: normal;
              }
              > h2 {
                margin: 0;
                font-size: 14px;
                font-weight: 100;
                color: #999999;
              }
            }
            > p {
              font-weight: 100;
              font-size: 12px;
              color: #4d4d4d;
              margin: 12px 0px 0px 0px;
              height: 49px;
              overflow: hidden;
              &.full {
                display: none;
              }
            }
          }
          > .map {
            display: none;
            float: right;
            height: 285px;
            width: 171px;
            height: 170px;
            background: url('../img/map.png') no-repeat;
            background-position: -284px -211px;
            cursor: pointer;
            margin-bottom: 11px;
            margin-right: 32px;
            margin-top: 5px;
            > .view {
              display: none;
              height: 18px;
              > .text {
                position: relative;
                left: 26px;
                top: -8px;
                float: right;
                text-decoration: none;
                font-size: 11px;
                color: #4d4d4d;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        > .slider {
          font-family: 'ProximaNova';
          position: relative;
          width: 100%;
          float: left;
          display: none;
          > .button {
            position: absolute;
            z-index: 1;
            top: 110px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            background: black;
            background: url('../img/map.png') no-repeat;
            &.left {
              display: none;
              left: 20px;
              background-position: -129px -184px;
              &:hover {
                opacity: 0.8;
              }
            }
            &.right {
              right: 20px;
              background-position: -169px -184px;
              &:hover {
                opacity: 0.8;
              }                  
            }
          }
          > .nav {
            background: #ccc;
            width: 100%;
            height: 30px;
            > .inner {
              padding: 8px 8px;
              > .item {
                float: left;
                background: url('../img/map.png') no-repeat;
                background-position: -240px -132px;
                display: block;
                width: 18px;
                height: 17px;
                cursor: pointer;
                margin-left: -2px;
                &.active {
                  background-position: -240px -159px;
                }
                > .number {
                  display: block;
                  color: #fff;
                  font-size: 10px;
                  text-align: center;
                  line-height: 19px;
                  height: 17px;                  
                }
              }
              > .strip {
                float: left;
                width: 29px;
                height: 3px;
                background: #999999;
                margin-right: 2px;
                margin-top: 7px;
              }
              > .icons {
                float: right;
                > .item {
                  float: left;
                  margin: 0 8px;
                  > a {
                    display: block;
                    &:hover {
                      > .text {
                        text-decoration: underline;
                      }
                    }
                    > .icon {
                      float: left;
                      margin: 0 8px;
                    }
                    > .text {
                      float: left;
                      font-size: 12px;
                      line-height: 19px;
                      height: 19px;
                      color: #4d4d4d;
                    }                   
                  }
                  &.download {
                    > a {
                      > .icon {
                        background: url('../img/map.png') no-repeat;
                        background-position: -272px -136px;
                        display: block;
                        width: 18px;
                        height: 17px;
                      }
                    }
                  }
                  &.print {
                    > a {
                      > .icon {
                        background: url('../img/map.png') no-repeat;
                        background-position: -272px -112px;
                        display: block;
                        width: 19px;
                        height: 16px;
                      }                      
                    }
                  }
                }
              }
            }
          }
          > .container {
            width: 100%;
            position: relative;
            height: 414px;
            overflow: hidden;
            > .inner {
              position: relative;
              width: 680px;
              height: 431px;
              background: #4d4d4d;
              overflow-x: auto;
              overflow-y: hidden; 
              > .scroll {
                margin: 0px;
                padding: 0px;
                list-style: none;
                white-space: nowrap;
                page-break-after: avoid;
                page-break-before: avoid;
                page-break-inside: avoid;
                width: 3000px;
                position: relative;
                > .day {
                  float: left;
                  height: 414px;
                  &:nth-of-type(even) {
                    background: #4d4d4d;
                  }                  
                  &:nth-of-type(odd) {
                    background: #333;
                  }
                  > .title {
                    color: #fff;
                    padding: 0 4px;
                    font-weight: 100;
                    font-size: 12px;
                    line-height: 27px;
                    height: 27px;
                  }
                  > .item {
                    margin: 0px;
                    padding: 0px;
                    float: left;
                    width: 158px;
                    > .top {
                      position: relative;
                      > img {
                        max-width: 158px;
                        max-height: 118px;
                      }
                      > .name {
                        position: absolute;
                        right: 0;
                        bottom: 4px;
                        background: #fff;
                        padding: 0 6px;
                        font-size: 12px;
                        color: #666666;
                        max-width: 135px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                      }
                    }
                    > .bottom {
                      width: 158px;
                      > p {
                        font-size: 11px;
                        white-space: normal;
                        margin-top: 0;
                        padding: 8px;
                        color: #b3b3b3;
                        font-weight: 100;
                        line-height: 11px;
                      }
                    }
                  }          
                }
              }
            }
          }
        }
        > .bottom {
          display: none;
          width: 100%;
          position: relative;
          background: #5D5D5D;
          overflow: hidden;
          font-family: 'ProximaNova';
          min-height: 113px;
          -moz-box-shadow: inset 1px 7px 13px -7px #000000;
          -webkit-box-shadow: inset 1px 7px 13px -7px #000000;
          -ms-box-shadow: inset 1px 7px 13px -7px #000000;
          -o-box-shadow: inset 1px 7px 13px -7px #000000;
          box-shadow: inset 1px 7px 13px -7px #000000;
          > .title {
            cursor: default;
            font-weight: normal;
            font-size: 18px;
            color: #fff;
            margin: 8px 0px 0px 24px;
          }
          > p {
            font-size: 12px;
            color: #b3b3b3;
            margin: 0 0 4px 24px;
            max-width: 430px;
            cursor: default;
          }
          > .list {
            list-style-type: circle;
            color: #fff;
            padding: 0px;
            float: left;
            margin: 0px 0px 14px 47px;
            > li {
                color: #fff;
                font-size: 14px;
                cursor: default;
              > a {
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          > .calendar {
            overflow: hidden;
            margin: 8px 24px;
            width: 430px;
            > .collumn {
              float: left;
              width: 107px;
              > .item {
                font-size: 12px;
                word-wrap: break-word;
                line-height: 22px;
                height: 22px;
                color: #fff;
                > a {
                  > .arrow {
                    background: url('../img/map.png') no-repeat;
                    background-position: -227px -32px;
                    width: 7px;
                    height: 4px;
                    display: block;
                    float: left;
                    margin: 8px 4px 0px 0px;
                  }
                  > .text {
                    font-size: 12px;
                    word-wrap: break-word;
                    line-height: 22px;
                    height: 22px;
                    color: #fff;
                    display: block;                
                  }
                  &:hover {
                    > .text {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
          > .social {
            position: absolute;
            right: 172px;
            bottom: 12px;
            top: 12px;
            padding: 0 16px 0 16px;
            margin: 0px;
            background: #5D5D5D;
            border-left: 1px solid #ccc;
            > .inner {
              overflow: hidden;
              position: absolute;
              bottom: 0;
              width: 172px;
              > .icons {
                margin: 0;
                padding: 0;
                > li {
                  float: left;
                  > a {
                    background: url('../img/map.png') no-repeat;
                    width: 35px;
                    height: 34px;
                    display: block;
                    margin: 4px;
                    &.paperclip {
                      background-position: -9px -286px;
                    }
                    &.linkedin {
                      background-position: -56px -286px;
                    } 
                    &.facebook {
                      background-position: -104px -286px;
                    }
                    &.twitter {
                      background-position: -152px -287px;
                    }
                  }
                }
              }
            }
          }
        }
        > .carousel {
          display: none;
          position: relative;
          height: 169px;
          width: 100%;
          float: left;
          > .container {
            width: 100%;
            position: relative;
            > .inner {
              position: relative;
              overflow: hidden;
              width: 680px;
              > ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                white-space: nowrap;
                page-break-after: avoid;
                page-break-before: avoid;
                page-break-inside: avoid;
                > li {
                  margin: 0px;
                  padding: 0px;
                  float: left;
                  position: relative;
                  &.active {
                    > span {
                      background: none;
                    }
                  }
                  > span {
                    cursor: pointer;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url('../img/pixel.png');
                  }
                  > a {
                    display: block;
                    > img {
                      height: auto;
                    }
                  }            
                }
              }
            }
            > .button {
              position: absolute;
              top: 75px;
              width: 32px;
              height: 32px;
              cursor: pointer;
              background: black;
              background: url('../img/map.png') no-repeat;
              &.left {
                display: none;
                left: 20px;
                background-position: -129px -184px;
                &:hover {
                  opacity: 0.8;
                }
              }
              &.right {
                right: 20px;
                background-position: -169px -184px;
                &:hover {
                  opacity: 0.8;
                }                  
              }
            }
          }
          > .info {
            font-family: 'ProximaNova';
            background: #5D5D5D;
            height: 144px;
            width: 664px;
            padding: 8px;
            > .item {
              display: none;
              > .title {
                font-size: 18px;
                font-weight: 100;
                color: #fff;
                border-bottom: 1px solid #ccc;
                height: 33px;
                width: 470px;                
              }
              > p {
                font-size: 12px;
                font-weight: 100;
                color: #fff;
                width: 480px;
              }
            }
          }
        }
        > .social {
          display: none;
          position: relative;
          float: right;
          top: 13px;
          height: 130px;
          width: 173px;
          padding: 2px;
          margin: 0;
          background: #5D5D5D;
          border-left: 1px solid #ccc;
          > .icons {
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            > li {
              float: left;
              > a {
                background: url('../img/map.png') no-repeat;
                width: 35px;
                height: 34px;
                display: block;
                margin: 4px;
                &.paperclip {
                  background-position: -9px -286px;
                }
                &.linkedin {
                  background-position: -56px -286px;
                } 
                &.facebook {
                  background-position: -104px -286px;
                }
                &.twitter {
                  background-position: -152px -287px;
                }
              }
            }
          }
        }
      }
      > .view {
        float: right;
        height: 112px;
        width: 19px;
        background: #CCCCCC;
        cursor: pointer;
        > .plus {
          background: url('../img/map.png') no-repeat;
          background-position: -207px -9px;
          width: 13px;
          height: 12px;
          display: block;
          top: 50%;
          position: relative;
          left: 3px;
          margin-top: -5px;
        }
      }
      &.open {
        height: 885px;
        cursor: default;
        transition: height 700ms;
        -ms-transition: height 700ms;
        -moz-transition: height 700ms;
        -webkit-transition: height 700ms;
        -o-transition: height 700ms;
        > .content {
          height: auto;
          width: 100%;
          position: relative;
          > .bg {
            display: block;
          }
          > .inner {
            width: 653px;
            padding-right: 19px;
            padding-top: 12px;
            padding-bottom: 0;
            > .calendar {
              display: block;
            }
            > .info {
              float: left;
              width: 394px;
              position: absolute;
              z-index: 1;
              > .more {
                display: none;
              }
              > .view {
                display: block;
                cursor: pointer;
              }
              > .title {
                cursor: default;
                > h1 {
                  font-size: 30px;
                  line-height: 30px;
                  margin-bottom: 12px;
                }
              }
              > .min {
                display: none;
              }
              > .full {
                cursor: default;
                display: block;
                border-top: 1px solid #ccc;
                padding-top: 12px;
              }
            }
             > .map {
              display: block;
              > .view {
                display: block;
              }
             }
            }       
          > .slider {
            display: block;
          }
          > .bottom {
            display: block;
          }
        }
        > .image {
          width: 661px;
          > img {
            width: 661px;
            height: auto;
          }
        }
        > .view {
          height: 242px;
          > .plus {
             background-position: -229px -9px;
          }
        }
      }
    }
  }
}
.discover {
  position: fixed;
  bottom: 68px;
  left: 40px;
  font-family: 'ProximaNova';
  transition: bottom 100ms;
  -ms-transition: bottom 100ms;
  -moz-transition: bottom 100ms;
  -webkit-transition: bottom 100ms;
  -o-transition: bottom 100ms;
  &.open {
    > .bottom {
      height: 185px;
    }
    > .top {
      margin-bottom: 4px;
    }
  }
  > .top {
    width: 190px;
    height: 25px;
    margin-bottom: 0px;
    > .left {
      float: left;
      height: 25px;
      min-width: 125px;
      margin-right: 4px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      > .text {
        font-size: 14px;
        color: #cccccc;     
        padding: 4px 6px;
        margin: 0 4px;
        cursor: pointer;
        line-height: 150%;   
        text-align: center;
      }
    }
    > .right {
      float: left;
      height: 25px;
      width: 25px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      > .arrow {
        display: block;
        background: url('../img/map.png') no-repeat;
        background-position: -227px -32px;
        width: 7px;
        height: 4px;
        margin: 11px 0px 0px 9px;
      }
    }
  }
  > .bottom {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 365px;
    padding: 0;
    height: 0;
    transition: height 200ms;
    -ms-transition: height 200ms;
    -moz-transition: height 200ms;
    -webkit-transition: height 200ms;
    -o-transition: height 200ms;
    overflow: hidden;
    > .text {
      cursor: default;
      font-size: 13px;
      color: #f2f2f2;
      width: 300px;
      margin-left: 8px;
      margin-top: 8px;
      min-height: 135px;
    }
    > .website {
      border-top: 1px solid #ccc;
      margin: 4px 0px 0px 0px;
      padding-top: 1px;
      overflow: hidden;
      > a {
        font-size: 13px;
        color: #fff;
        float: left;
        margin-top: 8px;
        margin-left: 8px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.footer {
    z-index: 3;
	height: 35px;
    background: rgb(256, 256, 256);
    background: rgba(256, 256, 256, 0.7);
	position: fixed;
	bottom: 0;
	width: 100%;
  > .links {
    float: right;
    margin: 10px 12px;
    padding: 0;
    > li {
      float: left;
      margin: 0;
      font-size: 12px;
      font-weight: 100;
      color: #666666;
      font-family: 'ProximaNova';
      > a {
        padding: 0px 6px;
        text-decoration: none;
        color: #666666;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  > span {
    float: left;
    font-size: 11px;
    margin: 12px 12px 8px 12px;
    color: #666;
    cursor: default;
  }
  > .social {
    margin: 0;
    padding: 0;
    > li {
      float: left;
      margin: 5px 0px;
      font-size: 12px;
      > a {
        width: 21px;
        height: 20px;
        display: block;
        margin: 4px;
      }
    }
  }
}

object { opacity: 0.5; }
object:hover { opacity: 1; }

@media (min-width: 768px) and (max-width: 979px) {
	// iPad???
}
@media (max-width: 767px) {
	// mobile??
}

/* ========================= */1

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}