.loading-spinner {
	position: relative;
	width: 120px;
	height: 120px;
	top: 20px;
	background-color: rgba(242,242,242, 0.9);
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 5px 2px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 5px 2px rgba(50, 50, 50, 0.4);	
}

.loading-text {
	position: relative;
	text-align: center;
	font-size: 1.3em;
	width: 100%;
	padding: 15px 0 10px;
	margin: 0;
	color: #3d3d3d;
	font-weight: normal;
}

.spinner-icon {
	position: relative;
	background: url('../img/spinner.gif') no-repeat;
	height: 48px;
	width: 48px;
	display: block;
	margin: 0 auto;
}