.loadMore {
    position: relative;
    width: 100%;
    display: block;
}

.loadMore-button {
    position: relative;
    min-width: 100px;
    margin: 20px auto 0;
    display: block;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    width: auto;
    padding: 10px 20px;
    text-align: center;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(left, #2850A2 0%, #263C80 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(left, #2850A2 0%, #263C80 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(left, #2850A2 0%, #263C80 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #2850A2), color-stop(1, #263C80));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(left, #2850A2 0%, #263C80 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to right, #2850A2 0%, #263C80 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#2850A2', endColorstr='#263C80');  
    color: white;  
  
    &:active, &:focus {    
        border: 0;
        outline: 0;
    }

}

.plus-icon {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 1.4em;
}
