@import "elements.less";
@import "mixins.less";

.searchSection {
  background-color:#FFFFFF;
  box-shadow: none;
  position: relative;
  padding: 20px 20px;
  width: 640px;
  height: auto;
}

.searchHeading {
  position: relative;

  .title {
    position: relative;
  }

  .mainHeader {
    font-weight: normal;
    margin: 0;
    color: #4d4d4d;
    line-height: 1em;
    font-size: 1.4em;
  }
}

.searchSubHeading {
  font-weight: 100;
  font-size: 0.9em;
  color: #6d6d6d;
  margin: 2px 0 0 0;
  height: 20px;
  width:auto;
  overflow: hidden;

}

.searchBoxArea {
  position: relative;
}

.search-control {
  position: relative;
  margin-top: 10px;
}

.searchBoxHeading {
  font-size: 0.9em;
  color: #555;
}


.searchBox {
  border-bottom: 1px solid #cecece;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0;
  // background: url("../img/Search.png") top right no-repeat;
  text-overflow:ellipsis;
  width: 350px;
  display: inline-block;
  outline: none;
  text-indent:5px;
  color: #555;
  font-size: 15px;
  padding-bottom: 7px;
  font-family: helvetica;
  font-weight: 100;
  letter-spacing: 1px;
}

.searchSubmitButton {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  width: auto;
  padding: 5px 15px;
  outline: none;
  border: none;
  color: #fff;

  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #2850A2 0%, #263C80 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #2850A2 0%, #263C80 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #2850A2 0%, #263C80 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #2850A2), color-stop(1, #263C80));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #2850A2 0%, #263C80 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #2850A2 0%, #263C80 100%);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 0px 5px 2px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 0px 5px 2px rgba(50, 50, 50, 0.4);    
}

.search-icon {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  background: url("../img/Search.png") top right no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

// --------------------
//  Drop Down Type Service
//

.dropdownArea {
  position: relative;
  height: 110px;
  width: 100%;
  display: block;

  .searchDrop{
    position: relative;
    width: 50%;
    display: inline-block;
    height: auto;
    float: left;
    clear: left;

    label {
      display:block;

    }

    .drop_downUL{
      text-indent: 4%;
    }

    .drop_downUL li {
      border-top: 1px solid #3d3d3d;

      &:hover {
        background: #3d3d3d;
        color: #fff;
      }
    }
  }


}

.searchDropRight{
  position: relative;
  float: right !important;

  .drop__service {
    position: absolute;
    bottom:0;
    height: auto;
  }

  .dropDownMenuRight {
    display:block;
    position:relative;
  }

  .overseas-service-list{

    display:block;
    position:relative;
    margin-left:0px;
    z-index:1;
  }

  .uk-service-list{

    display:block;
    position:relative;
    margin-left:0px;
    z-index:1;
  }

  .tosHeading{
    position:relative;
    margin-top:30px;
    z-index:1;
    font-size: 0.8em;
    color: #555;
  }
}

.SBico {
  position: relative;
  background:url("../img/searchButtonIcon.png") left top;
  width:25px;
  height:25px;
  float: right;
  margin-right: -37px;
  margin-bottom: 10px;
  display: block;
}

.rb1 {
  display: block;
  position: relative;
  width: 100%;
  height:auto;
  margin-top:10px;
  color: #555;

  .rbHeading{
    font-size: 0.8em;
    color: #555;
  }

  .radio input{

    margin-left:10px;
    display: none;

  }

  .radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
  }

  .radio label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #e9e9e9;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 8px;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #333;
    background: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 15px;
  }

}




.drop_down {

  width: 220px;
  font-weight: normal;
  background: #e9e9e9;
  color:  #555;
  line-height: 25px;
  font-size: 12px;
  font-family: 'Arial',sans-serif;
  padding: 0 10px;
  cursor: pointer;
  margin: 0;

}


.dropDownMenu li, .dropDownMenu li {
  float: left;
  height:25px;
  margin-left:0px;
}

.dropDownMenu li {
  list-style: none;
  position: relative;
  font-weight: normal;
  background: #e9e9e9;
  color:  #555;
  line-height: 25px;
  font-size: 12px;
  font-family: 'Arial',sans-serif;
  cursor: pointer;

}

.dropDownMenu li ul {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 100%;

  &.active {
    display: block;
  }

}

.dropDownMenu li ul li, .dropDownMenu li ul li {
  float: none;
}

.dropDownMenu li ul li {
  display: block;
  white-space: nowrap;
}

.region-list {

  display: block;
  position:relative;
  margin-top: 10px;
  z-index:1;


  .regionHeading {

    font-size: 0.8em;
    color: #555;



  }
}

.filterResults {
  display:none;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  background-color:#f1f1f1;
  width: 100%;
  height: auto;
  -moz-box-shadow: inset 0 10px 15px -12px #000;
  -webkit-box-shadow: inset 0 10px 15px -12px #000;
  box-shadow: inset 0 10px 15px -12px #000;

  &.active {
    display:block;
  }

  .filterSection {

    display:block;
    position:relative;
    width: 100%;
  }

  .filterList {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;

    .filterListBox {
      position: relative;
      display: inline-block;
      width: 25%;
      box-sizing: border-box;
      padding: 0 5px 5px;
      vertical-align: top;
      font-size: 16px;
    }

  }

  .filterList label {

    display: inline-block;
    position: relative;
    padding-left: 25px;
    box-sizing: border-box;
    height: 40px;
    //    margin-right: 15px;
    //    margin-left: 15px;
    //    padding-bottom: 15px;
    font-weight: normal;
    font-size: 0.8em;
    color: #555;

    &.selectAll{

      font-weight: bold;

    }

  }


  .filterList input[type=checkbox] {
    display: none;
  }

  .filterList label:before {
    content: "";
    display: inline-block;

    width: 13px;
    height: 13px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(150, 150, 150, 0.75);
    -moz-box-shadow:    2px 2px 4px 0px rgba(150, 150, 150, 0.75);
    box-shadow:         2px 2px 4px 0px rgba(150, 150, 150, 0.75);
    //    border-radius: 3px;
  }

  .filterList input[type=checkbox]:checked + label:before {
    content: "";
    background-color:#666;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #e9e9e9;
    text-align: center;
    line-height: 15px;
  }

  .updateSearch {
    position:relative;
    height:auto;
    width: auto;
    font-size: 12px;
    font-weight: normal;
    font-family: proximaNova;
    color: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    float:right;
    outline: none;
    border: none;
    margin-top: 30px;
    .BannerGradient();


  }

}

// --------------------
//  Supplier Guidebook Listings
//

.listing {

  cursor: pointer;
  background: #fff;
  overflow: hidden;
  margin-bottom: 16px;
  margin-top: 16px;
  .drop-shadow(3px, 3px, 9px, 0.3);

  &.firstItin {
    margin-top:0px;
  }

  .supplier-image {
    float: left;
    position:relative;
    display:block;
  }


  .supplier-content {
    float: left;
    width: 326px;
    height: 112px;
  }

  .supplier-input{

    float: left;
    padding: 9px;
    font-family: 'ProximaNova';
    width: 306px;
    position: relative;

  }

  .supplier-view{

    float: right;
    height: 112px;
    width: 19px;
    background: #CCCCCC;
    cursor: pointer;
  }

  .supplier-inner{

    float: left;
    padding: 9px;
    font-family: 'ProximaNova';
    height: 100%;
    width: 306px;
    position: relative;
    background-image: url('../img/bigmap.png');
    background-repeat: no-repeat;
    background-position: 300px -200px;
    background-size: 380px 629px;

    .inner-left{

      height:100%;
      position:relative;
    }

    .supplier-info {
      position: relative;
      display:block;
      font-family: 'ProximaNova';
    }

    .infoHeader {
      margin: 0;
      font-size: 20px;
      color: #4d4d4d;
      font-weight: normal;
    }

    .infoPara {
      // font-weight: 100;
      font-size: 12px;
      color: #4d4d4d;
      margin: 12px 0px 0px 0px;
      height: 49px;
      overflow: hidden;
    }

    .infoDescription {
        display:none;
        font-weight: 100;
        font-size: 12px;
        color: #4d4d4d;
        margin: 12px 0px 0px 0px;
        height: 49px;
        overflow: hidden;
    }

    .bookNowButton {
        display:none;
    }

    .discoverButton {
      display:none;
    }

  }
   .listing.supplier-inner.viewMapLink {
     display:none !important;
    } 

  .plus{

    background: url('../img/map.png') no-repeat;
    background-position: -207px -9px;
    width: 13px;
    height: 12px;
    display: block;
    top: 50%;
    position: relative;
    left: 3px;
    margin-top: -5px;

  }

  .viewSuppliersButton{
    display:none;
  }

  .supplier-marker {

    display:none;
    background: url('../img/Map_Pin_Trade.png') no-repeat right bottom;
    width: 49px;
    height: 65px;
    position: absolute;
    margin-left: -24px;
    margin-top: -55px;

  }


  .supplier-map {

    display:none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
    height: 188px;
    width: 114px;
    background: url('../img/Small_Map_Trade.png') no-repeat;
    margin-top: 35px;

  }

}

.icon {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right:8px;  
  vertical-align: middle;
}

.link-icon {
  background: url('../img/link-icon.png') no-repeat;
}

.mail-icon {
  background: url('../img/mail-icon.png') no-repeat;
}

.phone-icon {
  background: url('../img/phone-icon.png') no-repeat;
}

.contact-email {

  a {
    color: #4d4d4d;
  }
}

.contact-website {

  font-weight:bold;

  a {
    color: #4d4d4d;
  }
}

.inner-image {

  position: absolute;
  margin: 10px;
  height:60px;
  width:60px;
  top: 0;
  left: 0;

  &.big {
    height:130px;
    width:130px;
    top: 11px;
    left: 7px;
  }
}

  .listing.open.viewMapLink {
    display:none !important;
    position:relative;
    font-size: 14px;
    color: #4d4d4d;
    float:right;
    clear:right;
  }

.listing.open{
  height: 100%;
  cursor: default;
  transition: height 700ms;
  -ms-transition: height 700ms;
  -moz-transition: height 700ms;
  -webkit-transition: height 700ms;
  -o-transition: height 700ms;

  .supplier-image{
    width: 661px;
    height: 243px;
    overflow: hidden;

    .listing-image {

      width: 661px;
      height: 243px;

    }

    .inner-image {
      margin: 20px;
      height:110px;
      width:110px;
    }

  }

  .supplier-content {
    height: 100%;
    width: 100%;
  }

  .supplier-view {

    height: 243px;

  }

  .supplier-inner {

    width: 100%;
    padding: 20px;
    box-sizing: border-box;

  }

  .inner-left {
    position:relative;
    float: left;
    display:inline-block;
    height:auto;
    width: auto;
  }

  .inner-right {
    position:relative;
    float: right; 
    display:inline-block;
    height:auto;
    width:auto;
  }

  .supplier-info {
    width: 390px;

  }

  .infoHeader {

    font-size: 30px;
    line-height: 30px;
    margin-bottom: 12px;

  }

  .infoPara {

    cursor: default;
    display: block;
    position:relative;
    height:auto;
    width:auto;
    font-size: 14px;
    padding-bottom: 12px;

  }

  .infoDescription {

    cursor: default;
    display: block;
    position:relative;
    height:auto;
    width:100%;
    font-size: 14px;
    border-top: 1px solid #ccc;
    padding-top: 12px;
    padding-bottom: 12px;

  }

  .bookNowButton {
    position:relative;
    display:block;
    height:auto;
    width: auto;
    font-size: 15px;
    font-weight: normal;
    font-family: proximaNova;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    float:left;
    outline: none;
    border: none;
    .BannerGradient();
    box-shadow: 0px 1px 5px #6d6d6d;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .discoverButton {
    position:relative;
    display:block;
    height:auto;
    width: auto;
    font-size: 15px;
    font-weight: normal;
    font-family: proximaNova;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    float:left;
    outline: none;
    border: none;
    .BannerGradient();
    box-shadow: 0px 1px 5px #6d6d6d;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .plus {

    background-position: -229px -9px;

  }



  .viewSuppliersButton{
    position:relative;
    display:block;
    height:auto;
    width: auto;
    font-size: 14px;
    font-weight: normal;
    font-family: proximaNova;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:20px;
    float:left;
    outline: none;
    border: none;
    .BannerGradient();
    background-color: #263C80;

    a {
      text-decoration: none;
      color: #fff;
    }

  }

  .supplier-map {
    display:block;
  }
  .supplier-marker {
    display:block;
  }

}


.supplier-footer-bar {

  background: #4d4d4d;
  width: 100%;
  padding: 8px 0;
  float: left;
  position:relative;
  display:block;
  bottom:0;
  clear:both;


  .nav-text {
    color: #ccc;
    float:left;
    margin-left: 15px;
    line-height: 19px;
  }

  .sup-nav-inner-icons {

    float: right;
    margin-right: 15px;
  }


  .nav-item {

    float: left;
    margin: 0 8px;

    a {
      color: #ccc;
      display:block;
    }

    .download-icon {
      background: url('../img/icons.png') no-repeat;
      background-position: 0px -22px;
      display: block;
      width: 20px;
      height: 17px;
      float:left;

    }

    .download-text {
      font-size: 12px;
      line-height: 19px;
      height: 19px;
      color: #ccc;
      float:right;
      margin-left:10px;
      &:hover {
        text-decoration: underline;
      }

    }

    .print-icon {

      background: url('../img/icons.png') no-repeat;
      background-position: 0px -0px;
      display: block;
      width: 19px;
      height: 16px;
      float:left;

    }

    .print-text {

      float: left;
      font-size: 12px;
      line-height: 19px;
      height: 19px;
      color: #ccc;
      margin-left:10px;
      &:hover {
        text-decoration: underline;
      }

    }



  }

}


.supplier-mapMask {

  display:block;
  background: url('../img/TRade_Map_Frame.png') no-repeat right bottom;
  width: 230px;
  height: 245px;

}


.supplier-bg {
  display:block;
  background: url('../img/map.png') no-repeat right bottom;
  background-position: -14px -343px;
  width: 246px;
  height: 226px;
  position: absolute;
  right: 133px;
  top: 22px;

}


.supplier-contact {
  font-size: 14px;
  color: #4d4d4d;
  margin: 20px 0px 0px 0px;
  display: block;
  position: relative;
  height:auto;
  width: auto;

}


.supplier-contactInfo {
  display:block;
  position: relative;
  height:auto;
  width: auto;
  margin-bottom:20px;

  li {
    margin-bottom:5px;

  }
}

.filterListTitle {
  display:block;
  position: relative;
  padding-bottom:10px;
  padding-left: 5px;
  font-size:16px;
  font-weight: normal;
  color:#4d4d4d;
}

.noResults {

  display: none;
  position: relative;
  background: #e9e9e9;
  color: #4d4d4d;
  width: 100%;
  height: auto;
  font-weight: 100;
  font-size: 0.9em;
  overflow: hidden;

  -moz-box-shadow: inset 0 10px 15px -12px #000000;
  -webkit-box-shadow: inset 0 10px 15px -12px #000000;
  box-shadow: inset 0 10px 15px -12px #000000;

  .noResultsInner{
    padding: 0 20px 20px;
  }

  .noResultsHeader{
    width: auto;
    height: auto;
    position: relative;
    margin: 20px 0 10px;

    h3 {

      font-weight:normal;
      position: relative;
      margin: 0;
    }

  }

  .noResultsDescription{
    width: auto;
    height: auto;

    position: relative;

    p {
      margin: 0;
      width: auto;
    }

  }

  .noResultsButton {

    position: relative;
    float: right;
    margin-top: -20px;

  }

  .getInTouchButton{

    position: relative;
    display: block;
    height: auto;
    width: auto;
    font-size: 12px;
    font-weight: normal;
    font-family: proximaNova;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    border: none;
    .BannerGradient();

    a {
      text-decoration: none;
      color: #fff;
    }


  }

  .warningIcon {
    background: url('../img/WarningIcon.png') no-repeat;
    height: 26px;
    width: 37px;
    position: relative;
    display: inline-block;
    float: left;
    clear: left;
  }

}

.rb1 {
  // display: block;
  // position: relative;
  // height: auto;
  // width: auto;
  // margin-top:10px;
  // color: #555;

  .rbHeading{

    font-size: 0.8em;
    color: #555;

  }

  .radio input{

    margin-left:10px;
    display: none;

  }

  .radio label {

    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
  }

  .radio label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #e9e9e9;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 8px;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #999;
    font-size: 28px;
    text-align: center;
    line-height: 15px;
  }

}

.hidden_user_selection {
  display:none;
}


