.listing-supplier--china {
  background: #FFFAE9;
  &.open {
    .welcome-banner {
      width: 180px;
      height: 24px;
    }

    .banner-logo {
      width: 116px;
      height: 22px;
    }
  }
}

.welcome-banner {
  position: absolute;
  left: 0;
  bottom: 5px;
  background: #E1251B;
  width: 120px;
  height: 16px;
  padding: 5px 0;
}

.banner-logo {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 87px;
  height: 16px;
}

.welcome-description {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  display: block;
  padding: 15px 20px 15px 20px;
  /* box-sizing: border-box; */
  margin-left: -20px;
  margin-bottom: -20px;
  background-color: #FFF;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px -2px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px -2px 5px 0px rgba(50, 50, 50, 0.3);  
}

.welcome-logo {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 63px;
  vertical-align: top;
}

.welcome-text {
  position: relative;
  display: inline-block;
  width: 470px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.description-text {
  text-align: center;
  line-height: 1.1em;
  font-size: 12px;
  width: 100%;
  height: auto;
  display: block;
}

.welcome-readmore {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  color: #FFF;
  text-decoration: none;
  background: #E1251B;
  margin: 10px auto 0;
  line-height: 30px;
  font-size: 14px;
  &:hover {
    color: #fff;
  }
}