<article class="listing listing-supplier listing-supplier--china" data-accreditation="{{accreditation}}" data-supplier-location="{{location}}" data-region-option="{{region}}" data-id-options="{{options}}" data-type="{{type}}" data-id="{{id}}" data-lang="{{lang}}">
    <div class="supplier-image">
        <img class="listing-image" src="http://media.api.visitbritain.com/1372158252155_cell_2x1_1280.jpg" width="335"
             height="112">
        <div class="welcome-banner">
            <img class="banner-logo" src="./img/welcome-text.png" alt="china welcome logo text" />
        </div>        
    </div>
    <div class="supplier-view">
        <span class="plus"></span>
    </div>
    <div class="supplier-content">
        <div class="supplier-inner">
            <div class="inner-left">
                <div class="supplier-info">
                    <header class="infoHeader">Tetley's Coachlines Ltd</header>
                    <p class="infoPara">Loren ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.Loren ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Loren ipsum dolor sit
                        amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.</p>
                </div>
                <div class="supplier-contact">
                    <ul class="supplier-contactInfo">
                        <li class="contact-email"><span class="icon mail-icon"></span> <a href="mailto:info@lochnesstours.com" target="_top">info@lochnesstours.com</a></li>
                        <li><span class="icon phone-icon"></span>+44 (0) 77453043</li>
                        <li class="contact-website"><span class="icon link-icon"></span><a href="www.lochnesstour.co.uk" target="_blank">www.lochnesstour.co.uk</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner-right">
                <div class=supplier-mapMask></div>
                <div class="supplier-map" data-map="1">
                    <!-- <div class="supplier-marker"></div> -->
                </div>
            </div>
            <div class="welcome-description">
                <div class="welcome-logo">
                    <img src="./img/china-welcome-logo.jpg" alt="China Welcome Logo" />
                </div>
                <div class="welcome-text">
                    <span class="description-text">Our GREAT China Welcome programme aims to make Britain the destination of choice for the rapidly-growing Chinese market. This partner is China Ready, click to find out more.</span>
                    <a href="{{accreditLink}}" class="welcome-readmore">
                        Read More
                    </a>
                </div>
                <div class="welcome-logo welcome-logo--right">
                    <img src="./img/china-welcome-logo.jpg" alt="China Welcome Logo" />
                </div>
            </div>
        </div>
    </div>
</article>