<div class="explore__bg-button">
    <button type="button" class="explore-button">
        <span class="explore-icon"></span>
        <span class="explore-text show-background">Explore Background</span>
        <span class="explore-text hide-background hide">Back to Home view</span>
    </button>
</div>