<div class="searchBoxArea">
    <div class="search-control">
        <label class="searchBoxHeading"> Search for Supplier: </label>
        <input type="text" name="searchSupplier" placeholder="Enter your search here." class="searchBox" size="30" value=""
               id="inputString"/>
        <button type="button" class="searchSubmitButton">
            Search
            <span class="search-icon"></span>
        </button>
    </div>
</div>